[2017-07-05 10:53] Igloczek opened #1 "Modernize Autocomplete template for cms pages and cms blocks"
In 98aec108 category selection template was modified - same treatment is required for cms pages and cms blocks suggestion templates. (Also Category ID seems to be not displayed when autoselected, and "11 results are available, use up and down arrow keys to navigate." is not hiding after selection was made)

[2017-07-05 10:54] Igloczek commented on #1
The issue is just copied from our internal issue tracker and might not be valid in v2 anymore.

[2017-07-13 19:38] mattwellss opened #4 "URL rewrite always uses entity_id rather than row_id"
First, I want to say thanks for building just the module I'd designed in my head a couple weeks ago. Now I only need to extend it where necessary! 🎉

In [`Snowdog\Menu\Model\ResourceModel\NodeType\Category::fetchData`](https://github.com/SnowdogApps/magento2-menu/blob/2.0.3/Model/ResourceModel/NodeType/Category.php#L84), the variable `$eavColumnName` is used to determine from which column of `url_

[2017-07-13 20:08] dmaciej commented on #4
You're right. I don't see a column such us `row_id` in the `url_rewrite` table in the Enterprise edition.
Yes, please open a pull request.

[2017-07-17 04:31] #4 closed

[2017-07-17 15:31] Igloczek commented on #4
Released as 2.0.4

[2017-07-18 07:49] giacmir opened #7 "Include compiled js file"
The javascript in /master/view/frontend/web/js/navigation.babel.js must be compiled with babel before it can be used by "normal" browsers. This is incompatible with a vanilla Magento2 not using frontools.

Can you add a compiled version in the repository so that this module can be used directly on a plain Magento 2?

[2017-07-18 10:08] bvboas opened #8 "Does not compile"
Changing from dev to production gives the following error:

[code]

[2017-07-18 11:51] Igloczek commented on #7
We are not planning to ship this module with transpiled JS code.
Also we are not planning using Less or compiled CSS.

BTW. "normal" browsers understand ES6 - 74% global support 😉

[2017-07-18 11:51] #7 closed

[2017-07-18 12:02] giacmir commented on #7
Thanks for you answer. While I understand your position on not including transpiled code I just want to comment that 74% support is still low. This means that one visitor out of four won't be able to have a working navigation menu.

bye

[2017-07-18 12:08] Igloczek commented on #7
Our modules are built for our internal needs, we are sharing them as a side project for devs who can benefit from using it, not to work with every possible M2 instance out of the box.

So if something doesn't look good enough for you, fork it and customize for your needs or just don't use it.

[2017-07-25 14:27] dawiddczaja commented on #8
Hello, I tried reproduce bug in CE and EE version but without effect. Which magento and magento2-menu version you have ?

[2017-07-26 14:05] SilvanLaroo commented on #8
Hi,

I'm facing the same issue. I'm using Magento 2.1.7 and the latest version of your extension.

[2017-07-27 08:27] MskiPl commented on #8
@bvboas @SilvanLaroo fixed on develop branch. Please test.

[2017-07-27 12:36] SilvanLaroo commented on #8
I've just installed the version from dev-develop, but got a similar error:
`Warning: Uncaught Exception: Warning: Declaration of Snowdog\Menu\Block\NodeType\Category\Interceptor::isCurrentCategory($nodeId) should be compatible with Snowdog\Menu\Block\NodeType\Category::isCurrentCategory(int $nodeId) in `

[2017-07-27 13:14] MskiPl commented on #8
@SilvanLaroo thanks but that's not directly related to this issue. I will open a separate issue for that.
Anyway please confirm the error reported here has been fixed, ok?

[2017-07-27 13:15] SilvanLaroo commented on #8
It's related right? The problem is that Magento does not include Scalar Type hinting in the var/generation files.

[2017-07-27 13:24] mskipl opened #10 "Remove PHP7 type hints from code"
Magento Team added PHP7 support to code generation here https://github.com/magento/magento2/issues/6106 but it's still on the develop branch only.
We should remove all PHP7 type hints from module code.

[2017-07-27 13:27] MskiPl commented on #8
That's right. Magento Team fixed it here https://github.com/magento/magento2/issues/6106 but it hasn't been merged into the master branch yet.
I created a separate task to remove all PHP7 type hints in our module: https://github.com/SnowdogApps/magento2-menu/issues/10

[2017-07-28 07:53] mskipl commented on #10
The fix has been merged into the develop branch (https://github.com/SnowdogApps/magento2-menu/commit/c445f60c47881e79e76fb1f14479d7255279b3f9).

[2017-07-28 07:53] #10 closed

[2017-07-28 07:55] mskipl commented on #8
The fix has been merged into the develop branch (https://github.com/SnowdogApps/magento2-menu/commit/bd50cd2776af7336a701e5f907f7d2b642387271).

[2017-07-28 07:55] #8 closed

[2017-08-16 12:37] talalus opened #14 "External link support"
1. Creating a new menu link type of "Custom Url node" for external link generate wrong url for the menu item, it's add store url to the link like:  http://store.com/http://google.com
2. it'll be great if we can add a new "target" field to open link in a new tab

[2017-08-16 12:50] #14 closed

[2017-09-20 12:49] jochhop opened #16 "Magento 2.2 compatibility"
Can the extension be updated to be compatible with Magento 2.2? actually there are only RC versions for this release but soon will be published so I guess it worth to make it compatible

[2017-09-25 14:49] Igloczek opened #17 "Do not change the scope while adding new nodes"
Currently while adding new nodes, scope / focus is immediately changed to a newly created node, which makes adding many nodes, on the same level, kinda frustrating.

[2017-09-26 14:44] dermatz commented on #16
Would be create if the Extension is compatible with Magento 2.2 RC

[2017-09-28 14:50] Igloczek commented on #16
Related PR #18

[2017-10-03 07:57] talalus opened #19 "add target option for custom link to open in a new tab"
internal ticket: 32516

[2017-10-03 10:28] DariuszMaciejewski commented on #16
Please update to the version 2.1.0.

[2017-10-03 10:28] #16 closed

[2017-10-08 18:28] talalus opened #21 "upgrade tree rendering lib it to latest version or use some Vue"

[2017-11-09 08:27] alexvandervegt opened #23 "Module does not work when database tables have prefixes"
The module does not work when you have table prefixes like:

Exception #0 (Zend_Db_Statement_Exception): SQLSTATE[42S02]: Base table or view not found: 1146 Table 'databasename.eav_attribute' doesn't exist, query was: SELECT `a`.`attribute_id` FROM `eav_attribute` AS `a`

This should be:
databasename.eav_attribute => databasename.prefix_eav_attribute

[2017-11-09 16:12] James-Moon-Audio opened #24 "Expected CSS"
I've attempted to use the extension, but it does not display properly.  I'm thinking it's due to the theme being used.

What CSS does this extension expect to have it display properly?

[2017-11-09 21:54] Igloczek commented on #24
We are not shipping any CSS, b/c it's a tool for building custom menus, so at all, we expect that the CSS will be custom too. In the close future we are not going to change it, probably we will even remove more, like JS files, to just render a bunch of HTML code.

In the future we will release [an open source theme](https://github.com/SnowdogApps/magento2-alpaca-theme) which uses this module, so i

[2017-11-09 21:54] #24 closed

[2017-11-10 03:34] mmmaxxx opened #25 "Module not working on 2.2 EE"
I get the following errors when trying to create a new menu in Magento 2.2 EE:

[code]

Is this due to catalog_category_entity_varchar. entity_id being replaced by row_id in EE?

[2017-11-17 11:11] Igloczek opened #27 "Ability to overwrite all templates per menu ID"
It might work same way as in the Banana module for M1, where we can add menu ID to the name of the template
![](https://i.imgur.com/nGO3TYI.png)

Even better will be to base it on folders i.e for ID `menu-mobile` we would like to overwrite templates as `/Snowdog_Menu/templates/menu-mobile/menu.phtml` and `/Snowdog_Menu/templates/menu-mobile/menu/node_type/category.phtml`

[2017-11-17 19:57] DariuszMaciejewski commented on #27
Internal ticket DEV-36174

[2017-11-17 20:12] DariuszMaciejewski commented on #25
@mmmaxxx  thank you for your report.

[2017-11-17 20:12] DariuszMaciejewski commented on #23
@alexvandervegt  thank you for your report.

[2017-11-19 12:11] DariuszMaciejewski commented on #25
@mmmaxxx I can't reproduce this error on Magento EE 2.2.1 with the current stable module version (v2.1.0).
Please check the module version you have.

[2017-11-22 14:35] DariuszMaciejewski commented on #23
The issue has been fixed and delivered to the develop branch.

[2017-11-22 14:35] #23 closed

[2017-11-26 15:03] mmmaxxx commented on #25
@DariuszMaciejewski I just tried with version 2.2.1 and its working fine now.

[2017-11-27 20:03] DariuszMaciejewski commented on #25
@mmmaxxx okay. thanks for the feedback.

[2017-11-27 20:03] #25 closed

[2017-12-08 08:56] SilvanLaroo opened #30 "Uncaught TypeError: tree.get_json is not a function"
Hi,

If we're trying to add/remove a node in the backend we get this js error: `Uncaught TypeError: tree.get_json is not a function`.

Steps to reproduce
--
1. Install Module Menu version 2.1.0 (in this case on Magento 2.1.7)
2. Open the 'Create new menu' page
3. Select 'Nodes tab'

Expected result
--
1. The option to create / add a node

Actual result
--
1. No option to add node
2. JS error throw

[2017-12-09 21:02] Igloczek commented on #30
@talalus could you take a look at this?

[2017-12-12 12:48] Igloczek opened #31 "Menu block shouldn't return object if given menu doesn't exist"
`$block->getMenu()` method shouldn't return object if given menu doesn't exist, I'd expect `false` or `null`.

[code]

A different option will be to create a method that we can use in templates, to check if menu exists before rendering any HTML, for example:
[code]

[2017-12-12 12:54] Igloczek opened #32 "Add "Save and continue" button in admin area"
This will simplify customization process by saving a lot of time wasted for opening over and over same menu instance.

[2017-12-13 21:45] DariuszMaciejewski commented on #31
+1 for returning `null` from `$block->getMenu()`

[2017-12-17 20:53] Koc opened #34 "Add foreign keys to tables"
Adding FK prevents database from collisions

- snowmenu_node.menu_id
- snowmenu_node.parent_id
- snowmenu_store.menu_id
- snowmenu_store.store_id
- snowmenu_node.content (maybe extract category_id, block_id, page_id as separate columns)

[2017-12-18 15:12] Koc opened #35 "Display node selected node type in admin panel and allow change it"
It would be nice add some icons to the tree inside admin panel and allow modify node type. Imho better use single "Add" button and select for node type instead of N "add" buttons.

[2017-12-18 15:24] Koc opened #36 "Cann't access node classes from template"
[code]

I can call `getMenuClass` but there is no method `getNodeClasses`, so node css classes attribute looks like useless.

[2017-12-18 17:46] Igloczek commented on #35
Internal ticket DEV-37354

[2017-12-19 09:15] DariuszMaciejewski commented on #36
Node classes are basically used in the `getMenuHtml()` method while building html list elements, but I don't see reasons to not include them in node templates too.

[2017-12-19 09:29] DariuszMaciejewski commented on #34
Internal ticket DEV-37373

[2017-12-19 09:30] DariuszMaciejewski commented on #34
@Koc thank you for reporting this issue!

[2017-12-19 09:58] Koc commented on #36
@DariuszMaciejewski yes, stiil useful. I've opened PR for fixing this issue. Merging it enough for me :)

[2017-12-20 08:22] DariuszMaciejewski commented on #36
Changes have been delivered to the develop branch.

[2017-12-20 08:22] #36 closed

[2018-01-02 15:34] SilvanLaroo commented on #30
Could you give an update regarding this issue?

[2018-01-02 15:43] Igloczek commented on #30
I created internal ticket [DEV-37608] to schedule fixing this bug.

[2018-01-03 17:31] #1 closed

[2018-01-03 17:37] #27 closed

[2018-01-05 17:55] talalus commented on #30
I couldn't reproduce this issue, @SilvanLaroo may you check if Snowdog_Menu/js/jstree.js is loaded

[2018-01-09 12:58] Igloczek commented on #21
@talalus I see you choose the Vue way. We can't use Webpack inside and ship precompiled code with this module. You have to use RequireJS to load Vue and components.

I'm using this plugin and other project and works fine https://github.com/edgardleal/require-vuejs

[2018-01-09 13:36] talalus commented on #21
ok I'll use require-vuejs, I was looking for a tree component for vue please let me know if you know one

[2018-01-09 13:56] szafran89 commented on #21
http://element-cn.eleme.io/#/en-US/component/tree
You can check it out. AFAIK there is option to import only one component.

[2018-01-10 15:31] Igloczek opened #38 "Remove default JS and clean up templates"
This module shouldn't have any styling or scripts on the storefront.
Also, templates should be as simple as possible, for example, icons should be removed.

We need to check our stores if this default JS logic is in use somewhere, before releasing this changes.

[2018-01-10 15:37] Igloczek commented on #21
@szafran89 we need also drag-and-drop support, but I like how they organized adding and removing nodes, it should improve the UX a lot (at least our clients are reporting some issue in this area)
![](https://i.imgur.com/D5SCXJW.png)

[2018-01-10 15:48] Igloczek commented on #21
This one looks nice
https://github.com/hejianxian/vue-drag-and-drop-list
https://hejx.herokuapp.com/vue-dndl/#!/

[2018-01-22 09:49] realchriswells opened #42 "Can't get in to menu settings on EE on 2.3.0"
I can't get in to the Snowdog Menu settings for a menu I created after updating to 2.3.0. I'm using M2EE and getting the following error:

[code]

[2018-01-22 09:51] realchriswells commented on #25
I started suffering this too using version 2.2.1. I upgraded to 2.3.0 and still got it.

I managed to fix it by changing the database values for the node `type` from `cms_page` to `custom_url`, however I can't get in to the menu settings either (I've submitted a separate ticket relating to this, issue #42 )

[2018-01-22 11:56] chickenland commented on #42
Enterprise (Magento Commerce) uses `row_id` instead of `entity_id`.

[2018-01-31 07:38] DariuszMaciejewski commented on #42
@realchriswells thank you for your report. Please test v2.4.0 that adds support for Magento Enterprise (Commerce).

[2018-01-31 07:38] #42 closed

[2018-02-07 07:11] realchriswells opened #44 "Target Node Blank Not Saving"
With Snowdog Menu 2.4.0 there is an option for Target Node Blank, which I assume adds `target="_blank"` to a link in the menu. I have checked this option, but it seems to not save anything as when the page refreshes, the option is blank again and after a `bin/magento setup:upgrade` the database doesn't seem to have anywhere to hold the field.

[2018-02-07 12:39] Igloczek commented on #44
Internal ticket DEV-38867

[2018-02-08 09:10] SilvanLaroo commented on #30
@talalus yes I can see that jstree.js is loaded.

[2018-02-08 10:46] SilvanLaroo commented on #30
Just tried a fresh install of Magento 2.1.11 with this extension, I still get the error.

[2018-02-08 12:50] jahvi commented on #38
This would be a great addition, it would be great if the extension could 'inherit' the default Magento styles for the menu so there's no change from how the menu looks from a default installation.

[2018-02-10 10:35] talalus commented on #30
@Igloczek  I think we can close this because a complete rewrite for the admin will be done in #21 using VueJS and jstree will be removed

[2018-02-13 08:01] realchriswells commented on #44
I managed to fix this issue directly in the database.

It seems that it is the field that does not get created, and it seems to be the wrong type - of course I'm just speculating at this point. I'm basing it on the fact that in the `UpgradeSchema.php` file, the `addTargetAttribute()` asks to create a field of type `Table::TYPE_TEXT`, a length of `10` and a `default` value. When I tried to manually

[2018-02-14 11:54] jahvi opened #46 "Add product node"
I'm wondering if it would be worth adding a "products" node? It seems like a common use case to be able to link to specific products in the menu.

In my case I've used this before to display "featured products" in the menu, so it wouldn't just show the name but maybe the product image and price as well.

I think it could work exactly like the category node but pull through the product list instead

[2018-02-15 00:34] Igloczek commented on #46
We need it for one of our projects too.

[2018-02-15 06:39] jahvi commented on #46
I'll be happy to work on a PR if you guys think it's worth it.

On Thu, 15 Feb 2018, 00:34 Bartek Igielski, <notifications@github.com>
wrote:

[2018-02-15 20:28] Igloczek commented on #46
Feel free, we will be hapy to merge your solution if pass our review.

[2018-02-27 13:00] jahvi commented on #46
I've had some success with this on my own project however I still need to clean up some things before submitting a PR, quick question is there a reason why you are getting the product node data directly from the DB instead of using a collection?

Take for example the category node:
https://github.com/SnowdogApps/magento2-menu/blob/master/Model/ResourceModel/NodeType/Category.php#L44-L81

[2018-02-27 15:27] dawiddczaja commented on #46
@jahvi You mean category node data ? We get this data that way because it's faster than by collection.

We have almost done this functionality. I think it's will be ready at the end of the week

[2018-02-27 15:36] jahvi commented on #46
Yeah I was assuming that would be the case, that sounds great I had to do
this for a project I'm working on but I'm not very proud of how it turned
out

On Tue, Feb 27, 2018 at 3:27 PM, Dawid Czaja <notifications@github.com>
wrote:

[2018-03-07 09:24] Koc opened #48 "Add support attaching icons/photos to menu nodes"
It would be nice add possibility to attach some images to menu items. Css classes couldn't cover this. Example use case:

![default](https://user-images.githubusercontent.com/191082/37083474-4a6073e2-21f8-11e8-803f-b1a822d509aa.png)

[2018-03-07 09:44] Igloczek commented on #48
You can use CMS blocks for that. We don't want to duplicate the core features.

[2018-03-07 09:44] #48 closed

[2018-04-11 09:30] Ig0r-M opened #51 "Update Readme"
## Background
Current readme is lacking detailed information how to set menu from start to finish and what should look menu once finished thus for developers not that experienced with magento 2 it's proven as a difficult task.

[2018-04-11 09:33] Igloczek commented on #51
Feel free to write such documentation and submit PR.

[2018-04-11 09:33] #51 closed

[2018-04-23 10:24] talalus commented on #44
@dawiddczaja should be fixed in the admin panel, already merged with develop

[2018-04-23 10:26] #19 closed

[2018-04-23 10:28] talalus commented on #19
done in #32516

[2018-04-23 10:32] talalus commented on #35
merged with develop

[2018-04-23 10:32] #35 closed

[2018-04-23 17:27] Koc commented on #35
Thank you!

[2018-04-24 17:16] #30 closed

[2018-04-24 17:16] Igloczek commented on #30
Rewritten admin area will be released in version 2.5.0

[2018-05-23 12:38] talalus commented on #46
Ready in 2.5.0 version

[2018-05-23 12:38] #46 closed

[2018-05-23 12:39] talalus commented on #17
New admin UI is ready in 2.5.0 release, so we can close this

[2018-05-23 12:39] #17 closed

[2018-05-28 19:35] bartdominiak opened #52 "Product node adjustment"
Just few things, what we can add in new version:
- method to get product title (right now we need to type product name in PA)
- price formatter - to change output from `227.1200` to `227,00 + currency symbol`

[2018-05-28 19:52] bartdominiak opened #53 "Search product hints"
It will be useful to have hints after typed product id (maybe after 3+ chars will be safer)
And also did you think about add SKU instead of ID's? or both?

[2018-06-04 13:57] Igloczek commented on #52
Internal ticket [DEV-42404]

[2018-06-04 13:57] Igloczek commented on #53
Internal ticket [DEV-42403]

[2018-06-08 07:11] #34 closed

[2018-06-08 07:14] DariuszMaciejewski commented on #34
The changes will be available with the upcoming release.
Related commit: https://github.com/SnowdogApps/magento2-menu/commit/f915526750299d8e02808dc9ca8ee36456940064

[2018-06-13 06:55] DariuszMaciejewski commented on #52
The changes will be available with the upcoming release.
Related commit: https://github.com/SnowdogApps/magento2-menu/commit/7dbbc6615914d9ca5c871f60acc59df8f60aefd9

[2018-06-13 06:55] #52 closed

[2018-06-18 14:05] tartreau opened #57 "No css and not working well in frontend"
Hello, I just installed your extension on my website. I see my menu in my backend.
But the menu isn't display in my frontend. I've copied and pasted your code (with the same identifier for the menu). The menu is appearing without any css in the page, it's only display outside store.menu.

I.E : I can display in page.wrapper, I've menu and submenu but no css and not in the right place

And I have t

[2018-06-19 17:15] Igloczek commented on #57
We are shipping this module without styles, so it's expected behavior.

SVG icons are indeed missing and it's our fault, but we designed this module to be used with [Alpaca theme](https://github.com/SnowdogApps/magento2-alpaca-theme) which provide both styling and icons.

So if you want to use this module, without our theme, you need to custmize templates and add own styles to fit your project nee

[2018-06-19 17:15] #57 closed

[2018-06-24 13:23] denistrator opened #58 "Readme: "Adding new types of nodes" is incorrect"
"Adding new types of nodes" readme section refers to `view/adminhtml/web/js/category.js` and `view/adminhtml/templates/menu/node_type/category.phtml` but these files were removed.

Please update "Adding new types of nodes", because currently it's not clear how to add a new menu node

[2018-06-25 13:17] Igloczek commented on #58
Thanks for reporting, we will update it soon.
Internal ticket [DEV-43122]

[2018-06-25 16:04] haelbichalex opened #59 "Not showing in admin menu on 2.2.4"
Installing via composer on Magento Community 2.2.4 doesn't give me menu entry `Content > Elements > Menus`.

![bildschirmfoto 2018-06-25 um 18 03 22](https://user-images.githubusercontent.com/15052352/41861631-1fa19022-78a2-11e8-86d6-dde26157a3b8.png)

[2018-06-26 08:14] haelbichalex commented on #59
Nevermind, probably was some caching issue.

[2018-06-26 08:14] #59 closed

[2018-06-26 09:16] #58 closed

[2018-06-26 09:17] Igloczek commented on #58
Docs updated.

[2018-06-26 10:21] bartdominiak commented on #53
After backend consultation, we can't add product suggestion/hints. We'll just add SKU instead ID's.

[2018-07-04 10:30] bartdominiak commented on #53
Closing this issue. As backend consultation, we will keep ID's because changing this field to SKU may cause an errors for other projects, which has started with ID field. And also binding is working well now on products id.

[2018-07-04 10:31] #53 closed

[2018-08-03 15:33] gtlt opened #63 "Menu Node Name field lack a translation mechanism"
In multi language storeview setup, we need to define a menu for each storeview in order to translate Node Name. Only for CmsBlock type it is possible to use the "trans" directive inside the block it.
Do you think it would be possible to add a translation mechanism for Node Name to avoid maintaining n menu across all storeviews ?

[2018-08-03 16:00] gtlt commented on #63
Well the change is quite simple, I made a pr #64 for review.
Thank you

[2018-08-06 11:41] Igloczek commented on #63
@talalus could you check this out? IMO the category names should be loaded from M categories, so if everything is set well in here, it should be reflected in the menu too, without the need of using translations as proposed in #64.

[2018-08-07 00:04] talalus commented on #63
1. I think it's better to give the freedom to define a custom node name for the category node because in some cases the menu node name might be different from category name, but I think it's a good Idea to auto fill the node name with category name after selecting a category.
2. Will check with backend Dev how much is complicated to make a menu item has node name per store view

[2018-08-23 11:09] mageprashant opened #65 "Mobile menu sub category link goes to undefined"
Hi,
I am using your extension which works fine in desktop but in mobile view when I click on subcategory link it redirects to an example.com/undefined

Please check given video for more information.
https://www.screencast.com/t/4QxtVtXPZykF

Please help on this asap.

Thanks,

[2018-08-23 11:50] Igloczek commented on #65
We don't have JS in this module, `undefined` can't be returned from the PHP based backend, so it's something wrong in your project JS code.

[2018-08-23 12:06] mageprashant commented on #65
@Igloczek Thank you for a quick response!
I will check my code.

[2018-10-05 06:14] chetanaccorin opened #67 "Issue with selecting text in nodes section of backend"
Attempting to drag to select text within Main Menu > Nodes section of the backend results in the entire node being moved instead -
the only way to change text is to click into the field
1. backspace or use the keyboard to select all
2. using the mouse to select all, attempts to move node location within the layout

**Steps to reproduce**
Step: 1) Content>Main Menu> Nodes
Step: 2) Select any node &

[2018-10-05 10:41] talalus commented on #67
Drag and drop feature for menu item is to change the menu items order and parent/child relations and we are not planning to remove this feature, as you said if you want to select menu text you can edit the menu and select the text from the text field.
I'm closing this but feel free to re-open it if you have any further questions

[2018-10-05 10:45] talalus commented on #65
closing this, feel free to re-open it if you have any further questions

[2018-10-05 10:45] #65 closed

[2018-10-05 10:54] talalus commented on #67
I'm opening this to check if maybe we can lock the drag and drop while editing the menu or decopule edit form from menu item

[2018-10-05 11:09] chetanaccorin commented on #67
@talalus Thanks

[2018-10-05 11:45] talalus commented on #67
DEV-internal 46364

[2018-10-05 13:08] talalus commented on #67
Thanks @bartdominiak edit form now is not draggable

[2018-10-05 13:08] #67 closed

[2018-10-05 13:19] chetanaccorin commented on #67
@talalus @bartdominiak
Thanks

[2018-11-27 16:30] juho-jaakkola opened #69 "Clarify documentation about adding a new node type"
The README says:

I have created the template `view/adminhtml/web/vue/menu-type/recommendation.vue` into my custom module. But what exactly does it mean to "load it in `view/adminhtml/templates/menu/nodes.phtml`"?

[2018-11-27 17:01] talalus commented on #69
1. `view/adminhtml/web/vue/menu-type.vue` is using [Dynamic Components ](https://vuejs.org/v2/guide/components.html#Dynamic-Components) to load menu custom fields, so in this case the dynamic component will be like
`<component :is="recommendation"></component>`
2. Add recommendation component `"vue!Snowdog_Menu/vue/menu-type/recommendation"`
in [view/adminhtml/templates/menu/nodes.phtml](https://g

[2018-11-28 07:38] juho-jaakkola commented on #69
Wait, so do I have to override the whole `view/adminhtml/templates/menu/nodes.phtml` file in my custom module with a version that also has my own vue component?

What if two different custom modules want to add their own node type? It's not possible for them both the override the same template at the same time.

[2018-11-28 08:45] talalus commented on #69
Yes for now you need to override `view/adminhtml/templates/menu/nodes.phtml`.
If you have another solution when different custom modules add new node type, your pull request is welcome

[2018-11-28 09:11] juho-jaakkola commented on #69
Unfortunately I don't have time enough time in my current project. I will however document the need within my module, so perhaps it can be implemented some time later.

[2018-12-02 11:29] Koc opened #70 "Current api implementation incomplete"
Hello!

First of all - thank you for free module for menu. I've trying to use Magento in headless mode (frontend based on VueJS). And current rest api miss something crucial things, like:

https://github.com/SnowdogApps/magento2-menu/blob/master/etc/webapi.xml#L9
1. it is logical retrieve nodes using GET method and by string identifier, not by id. Something like `url="/V1/menus/:identifier/nodes"`

[2018-12-02 11:35] Koc commented on #69
@talalus what about adding some method in node type interface like `getVueComponent`? And inside `view/adminhtml/templates/menu/nodes.phtml` collect this components to array. It is much cleaner way

[2018-12-03 18:37] talalus commented on #69
@Koc yes I think need to check with Backend dev, but will be great if you can you prepare a MR for this.

[2018-12-17 12:38] tiberiur opened #71 "Vue - duplicate keys detected found in <SnowdogMenu>"
From time to time while adding/editing items in the menu, randomly, this error pop up https://i.imgur.com/UUfzdjN.png.

The error makes the menu disappear on the front and there are some empty items in the admin https://i.imgur.com/xch0sDu.png.

The problem persist on M2.2.4 / M2.3. Windows / Linux too.

[2018-12-18 01:01] talalus commented on #71
internat-ticket:48712

[2018-12-19 20:42] talalus commented on #71
@tiberiur fix in 2.8.1

[2018-12-19 20:42] #71 closed

[2019-01-22 17:12] jahvi opened #73 "Product node image not working"
The product image is not rendering anything even though the product does have an image associated to it.

**Steps to reproduce:**
1. Create a new product node and assign a product with image.
2. Change `menu/node_type/product.phtml` template to echo the included `$productImage` variable.

**Expected result:**

The product image URL should show up.

**Actual result:**

Nothing is outputted.

--

I

[2019-01-22 17:31] jahvi commented on #73
My bad, I tested on both 2.2.6 and 2.3 and got the same issue.

[2019-01-22 17:52] Igloczek commented on #73
Thanks, we will check it.

Internal ticket DEV-49462

[2019-01-28 09:00] dariuszmaciejewski commented on #73
The bugfix has been merged into the develop branch.

[2019-01-28 09:00] #73 closed

[2019-01-28 10:21] jahvi commented on #73
Thanks!

[2019-01-29 14:15] DanieliMi opened #75 "Include subcategories"
Hey,
is it possible to implement a functionality to import categories including subcategories as nodes? Maybe even with specifying until which level you want to include subcategories. It would be really handy if you could import them in case you have a whole bunch of subcategories. Inserting all these nodes separately is lots of effort.

[2019-02-06 19:34] Igloczek commented on #63
@gtlt I think the simples solution for you is to overwrite catalog node template on theme level and replace this line

https://github.com/SnowdogApps/magento2-menu/blob/1e538845941bbaeaa83a77c0b10aab493ccedfd8/view/frontend/templates/menu/node_type/category.phtml#L28

with
[code]

or
[code]
to distinguish menu translations form global one.

Apart from that, we are planning to add "Duplicate menu"

[2019-02-12 08:39] lukeromanowicz opened #76 "Error in cms page renderer when there are no url_rewrites for a cms page"
CMS Page Node renderer doesn't check if a URL for a particular page exists in `pageUrls` array:
https://github.com/SnowdogApps/magento2-menu/blob/1e538845941bbaeaa83a77c0b10aab493ccedfd8/Block/NodeType/CmsPage.php#L151-L168

Apparently, such an event can happen because `pageUrls` array is hydrated from `url_rewrite` table data When a cms page doesn't have any URL rewrites for that store, then its

[2019-02-12 09:37] bacondeveloper commented on #73
Do we know when this will be released into the release branch? I've tested the develop branch and it works perfectly!

[2019-02-12 10:12] Igloczek commented on #73
@jahvi @bacondeveloper Fix released as v2.8.2

[2019-02-12 10:48] jahvi commented on #73
Nice thanks for looking into it!

On Tue, 12 Feb 2019, 10:12 Bartek Igielski, <notifications@github.com>
wrote:

[2019-02-12 10:54] bacondeveloper commented on #73
Brilliant thank you :)

[2019-02-12 13:13] lukeromanowicz commented on #76
I'll push a PR with a fix later tonight.

[2019-02-13 03:05] jasuten opened #78 "Unable to view/select from all dropdown options"
The dropdown in the admin gets cut off so you can't select from all the categories. Tested it in Firefox and Chrome. See attached.

<img width="800" alt="screen shot 2019-02-13 at 2 03 05 pm" src="https://user-images.githubusercontent.com/204446/52683837-4626e780-2f98-11e9-9d99-9a4caa15beaa.png">

[2019-02-17 14:30] Igloczek commented on #78
Thanks for the report, the bug was fixed in #79 and is already released as version 2.8.3

[2019-02-17 14:30] #78 closed

[2019-02-18 07:34] kiber commented on #76
Thanks for the report, the bug was fixed in #76 and is already released as version 2.8.4

[2019-02-18 07:34] #76 closed

[2019-03-05 09:54] lukeromanowicz opened #80 "Prepending store url in Custom Url nodes should be optional"
Right now, we are not able to set a custom url node that would redirect to a third party page. It is caused by prepending store url in CustomUrl Block:

https://github.com/SnowdogApps/magento2-menu/blob/75b9ec2e9ee858d41cf11b2fdd724dc89b49f5f3/Block/NodeType/CustomUrl.php#L84

I would be nice to make it optional with enabled by default to keep the backward compatibility.

[2019-04-14 12:46] gtlt commented on #63
thank you, will use that

[2019-04-18 17:03] odeland opened #82 "Import/export nodes or putting them under versionning"
Is there a way to import/export menus and nodes? Wondering what kind of deployment strategies there is when using this module. Can we load nodes from a file, put them under git versioning maybe?

[2019-04-26 07:35] juho-jaakkola opened #83 "Provide access to entity associated with menu node"
For the second time I ran into a case where I would need to access category data in the template (`menu/node_type/category.phtml`).

I can get for example category URL with `getCategoryUrl()`, but I'm not able to get the category object itself.

Would it be OK to expose the category e.g. with `\Snowdog\Menu\Block\NodeType\Category::getCategory()`?

Or perhaps it could even be called `getEntity()`

[2019-04-26 07:42] juho-jaakkola commented on #83
Or perhaps it might even be enough to just expose the node content. For categories, pages, etc, it would return the entity id.

In the class `\Snowdog\Menu\Block\NodeType\Category`:

[code]
This would be easier to implement than getting the entity object. But maybe not as useful e.g. in cases where the template needs to access some custom attribute.

[2019-04-26 08:44] juho-jaakkola commented on #83
Ignore my previous comment. It would be *much* better to get access to the actual object instead of just the entity id.

For example displaying the category image within a menu item would become as easy as:

[code]

[2019-04-26 12:50] Januszpl opened #84 "Be able to set node template per "node" and "submenu" template"
It would be great if we could set specific template for every node item and its submenu template if it has children

[code]

I think we should pass extra argument $template,
in `renderMenuNode()`   as second argument (be default it would use default template depending on the node type).
in `renderSubmenu()` as fourth argument  (by default it would use default template sub_menu.phtml)

The best if

[2019-04-26 12:51] Januszpl opened #85 "Status for node "enabled/disabled""
Don't see this option now and I think it should be as then user doesn't need to remove something and later add as it can just disable node

[2019-04-30 06:12] jochhop commented on #80
Thanks for your suggestion @lukeromanowicz an internal ticket has been created to check the issue DEV-53114

[2019-04-30 06:14] jochhop commented on #83
Thanks for your suggestion @juho-jaakkola an internal ticket has been created to check the issue: DEV-53115

[2019-05-10 07:37] juho-jaakkola commented on #83
Merge request: https://github.com/SnowdogApps/magento2-menu/pull/89/

[2019-05-14 08:08] dariuszmaciejewski commented on #80
The change has been merged into the develop branch (https://github.com/SnowdogApps/magento2-menu/commit/fd285d2ffd49fe2075672fca20af595dc0131fd6).

[2019-05-14 08:08] #80 closed

[2019-05-22 07:49] juho-jaakkola commented on #83
Could I get some feedback about the issue and/or my merge request, so I know which direction to go to?

[2019-05-22 07:52] jochhop commented on #83
Hi @juho-jaakkola , firstly thank you for your PR, however we started working on it internally as mentioned above, the changes have been approved and will be merged to develop soon

[2019-05-22 11:36] juho-jaakkola commented on #83
Ah, I wasn't sure whether the internal ticket was just in the backlog, or already being worked on.

Apparently the code is not yet publicly available anywhere?

Will the `getEntity()` (or `getCategory()`?) method be implemented into the block object or the node object?

[2019-05-29 08:47] kiber commented on #70
Changes are available in release/2.10.0

[2019-05-29 08:48] kiber commented on #83
Changes are available in release/2.10.0

[2019-05-29 08:56] #70 closed

[2019-05-29 08:56] #83 closed

[2019-06-19 08:21] nicolaisen opened #91 "CMS page links with same url/identifier"
Issue when you have different websites/stores with different content, but the same url/identifier. It is only possible to choose the latest one.

[2019-08-23 12:37] alexvandervegt opened #93 "Current connection is already holding lock for [...], only single lock allowed"
We have the following error with magento 2.3.2. But only one menu is displaying it:

This is the rule from the error:

[code]

[code]

[2019-08-23 12:50] alexvandervegt commented on #93
This is only happening when a menu has submenus

[2019-08-26 11:57] alexvandervegt commented on #93
@talalus Do you know why this is happening?

[2019-08-29 12:13] alexvandervegt commented on #93
Does anybody know a solution?

[2019-10-02 09:43] tomkingfisher opened #95 "Using a product node displays original image"
When using a product node it displays the full original image rather than a resized and optimised version.

Because the menu is on ever page the images are being loaded on every page and because they are the original images it is slowing the site down.

Is there a way to be able to choose an image role or specify a role so that images are optimised and resized?

[2020-02-11 01:37] natedawg92 opened #97 "Nodes are deleted and recreated every time a menu is saved"
## Background
Every time a Menu is saved the Nodes in that menu are deleted and Recreated

## UAC
- [ ] Nodes are not Deleted and recreated every time a menu is saved

## Spec
- Update https://github.com/SnowdogApps/magento2-menu/blob/master/Controller/Adminhtml/Menu/Save.php#L136 to check for the node IDs in the `$existingNodes` array rather than a regex pattern it will never match

[2020-02-12 11:07] kiber commented on #97
@natedawg92 thanks for reporting issue. I will check it

[2020-03-03 10:38] natedawg92 commented on #97
@kiber Any progress on this issue and the associated PR #98

[2020-03-23 08:07] kiber commented on #97
@natedawg92 thanks for your PR, these changes will be in the next release.

[2020-03-23 08:07] #97 closed

[2020-03-24 13:16] Niels-P opened #100 "Overflow hidden when too many node types."
Hi Snowdog,

I'm reporting an issue related to Magento 2.3.4. When I'm clicking on the node type it falls behind the default panel built in the Magento back-end. This is of course not very handy. Could we remove the overflow hidden from the Snowdog panel? I suggest the following;

`#snowdog_menu .panel {
      overflow: visible;
}`

![Screenshot 2020-03-24 at 14 13 46](https://user-images.githubus

[2020-04-12 06:10] Igloczek commented on #100
Thanks for the report, we investigated it and fixed in #101.
Fix is already released as version 2.10.2.

[2020-04-12 06:10] #100 closed

[2020-04-12 10:15] #63 closed

[2020-04-14 12:24] Igloczek commented on #91
Thanks for pointing this out!
Fix for your issues is already released as version 2.11.0, hope it will help.

[2020-06-04 13:35] rav-redchamps commented on #57
@tartreau If you are looking for support on Luma or Luma based themes then you may try this https://github.com/redchamps/snowdog-menu-luma-support we added Luma classes to the menu

[2020-06-04 13:35] rav-redchamps commented on #24
@James-Moon-Audio  If you are looking for support on Luma or Luma based themes then you may try this https://github.com/redchamps/snowdog-menu-luma-support we added Luma classes to the menu

[2020-06-05 08:03] Igloczek commented on #57
@rav-redchamps thanks for this extension! I've added link to it in the description.

[2020-06-11 14:10] vseager opened #107 "Category dropdown order"
It would be really helpful, especially for sites with a large number of subcategories if the category dropdown was ordered as per the main category tree in `Catalog > Categories`, with the subcategories all listed below the parent category.

The current random order makes it hard to find categories:

![screenshot](https://user-images.githubusercontent.com/2035088/84395033-9d24e700-abf5-11ea-8801-e

[2020-06-12 07:55] Igloczek commented on #107
Hi, thanks for reporting this issue, indeed it looks like something annoying.

Are you planning to prepare some fix for it or should we put it somewhere on our internal Snowdog to-do list?

[2020-07-21 14:16] Januszpl commented on #69
@Igloczek  I think after finishing #84 and #85 I think we should think how we can refactor whole vue part as for sure there it can be done better and during this refactor we should consider this request.

[2020-07-24 12:53] MagePsycho opened #110 "Does it support mega-menu structure?"
Can this extension be used to show the multi group menus (mega-menu)?

[2020-07-24 12:56] Igloczek commented on #110
Sure, it can handle any tree-like structure, but it's up to you to create a frontend for it.

[2020-07-24 13:00] MagePsycho commented on #110
Thanks for the prompt reply. Is there any PR for the UI/css?

[2020-07-24 13:01] Igloczek commented on #110
Please check the readme - https://github.com/SnowdogApps/magento2-menu#frontend

[2020-07-24 17:50] #110 closed

[2020-08-05 11:05] vseager opened #114 "Image upload option for node"
It would be nice to have the option to upload an image to a node. A use case for this would be for a mega menu which contains promotional banners.

This can already be achieved using Cms Block node type, but it can get quite messy to manage, for example if you have a menu with 10 top-level categories, and you want two or three promotional banners within each one. It would be far nicer from a user/

[2020-08-05 12:24] vseager opened #115 "Invalidate full page cache"
After you edit the menu with caching enabled, it is necessary to refresh the "Page Cache" before the changes take effect on the frontend.

It would be useful if when the menu is edited the page cache is invalidated so that the admin knows that it required flushing:
https://www.atwix.com/development/managing-cache-programmatically/

[2020-08-10 03:14] onlinebizsoft opened #116 "Magento 2.4 support"
Will the module be working with latest Magento 2.4.0 release ?

[2020-08-10 09:28] Igloczek commented on #116
Hi, thanks for the report.
For sure we are planning to support 2.4, although it might take a while.

For now you can check if everything work as expected using
[code]
Any feedback about some compatibility issues is welcome.

[2020-08-24 07:48] #116 closed

[2020-08-24 08:20] Igloczek commented on #116
@bahramdavodi it was PHP 7.4 support, not Magento 2.4.

Anyways, the M2.4 was added in #119

[2020-08-24 08:38] Igloczek commented on #116
Released as 2.12.0

[2020-08-24 08:45] bahramdavodi commented on #116
@i

Magento 2.4 support PHP 7.4 and it's related

[2020-08-25 03:15] BeeVirtual opened #120 "Overwrite not working"
Hello.
I tried this in Magento 2.4.0 using php7.4

Install version Support2.4.0
Declare menu in admin with identifier "menu_hamburger"
Create a Snowdog_Menu folder in app/design/theme
Insert folder menu_hamburger with same structure as default phtml templates
Result - Magento is still displaying default phtml files and ignoring overwrite.

[2020-08-25 09:38] snowremi commented on #120
Hi @BeeVirtual, thank you for submitting the issue. I created an internal ticket DEV-70293 for that, and we'll work on this shortly

[2020-08-31 13:30] FloriaanTickles opened #125 "[Vue warn]: Error in render: "TypeError: option.store.join is not a function""
When adding a menu node with type "cms page link" while clicking on the page selector the following error occurs:

[code]

[2020-09-14 12:41] Januszpl commented on #125
Probably #127 - already merged into develop fixes it but I will verify it later.
Unless @FloriaanTickles you can check if latest develop fixes it?

[2020-09-16 09:09] Loxzibit commented on #114
Hi @snowremi, do you have an ETA on this feature?

Thanks

[2020-09-16 09:27] snowremi commented on #114
Hi @Loxzibit, this feature is at the end of our queue, after the issues with lower numbers. It's hard to provide an ETA for this one at the moment. Would you like to help us with it?

[2020-09-16 19:32] Januszpl commented on #125
@FloriaanTickles could you provide more details?
Steps to reproduce?
Do you have any CMS page defined?

[2020-09-21 12:28] jochhop commented on #120
Hi @BeeVirtual we have been investigating the issue, but unfortunately we cannot replicate it. We have done the following tests:

- Used Magento 2.4 version (clear installation)
- Create a menu with active nodes and code: `menu_hamburger`
- Create a theme under: `app/design/frontend/Snowdog/xyz`
- Override menu templates within such theme, under: `app/design/frontend/Snowdog/xyz/Snowdog_Menu/templ

[2020-09-22 08:02] cenobitz opened #132 "Breadcrumb broken"
Hi.

1. For now this plugin breakes breadcrumb (not showing categories) for products.

And as You can see http://235p1.test.redchamps.com/category-5/simple-product-118.html

2. It is also not working properly on mobile devices - when You click expand button (TO SHOW SUBMENU) on mobile it expand it and redirect to URL which is not expected behaviour because You got only 1 second to see submenu item

[2020-09-22 08:11] cenobitz commented on #132
only first issue BROKEN BREADCRUMB is stricly related with this extension. Issue 2 is related to redchamps snowdog luma support. Sorry for messing.

[2020-09-22 11:08] snowremi commented on #120
@BeeVirtual please verify the answer above and let us know if changing the path solved your issue. Otherwise, please provide more details on how to replicate the error. Thank you

[2020-09-22 11:16] snowremi commented on #132
Hi @cenobitz, thank you for reporting the issue. Currently, we're working on many different issues, would you like to help us with debugging and solving this one?

[2020-09-22 11:25] kiber commented on #93
@alexvandervegt could you please let us know, what MySQL version do you use?

[2020-09-22 11:26] Igloczek commented on #132
@cenobitz sorry, but this is not a bug, and it's not related to this module, this is how the M2 works out of the box.
Please take a look on this demo store - http://demo-m2.bird.eu/

[2020-09-22 11:26] #132 closed

[2020-09-23 05:22] snowremi commented on #93
@alexvandervegt our team tested the mentioned setup and we couldn't replicate the error. Could you please provide more details on how to replicate the error? Thank you

[2020-09-29 09:40] snowremi commented on #125
We could not reproduce the error on our site, and we didn't receive any more details to reproduce the issue. I'm closing this issue. @FloriaanTickles, if you still experience the described error, please provide us more information. Thank you

[2020-09-29 09:40] #125 closed

[2020-10-15 09:34] kiber commented on #95
@tomkingfisher changes are merged with the **develop** branch and it will be in the next release.
You can use
`$resizedProductImage = $block->getResizedProductImage($nodeId, '300', '300');`
in template file to get resized product image

[2020-10-28 07:06] snowremi commented on #93
I'm closing this issue. We couldn't replicate the error, and we couldn't retrieve any more details

[2020-10-28 07:06] #93 closed

[2020-10-28 07:07] snowremi commented on #120
I'm closing this issue. We couldn't replicate the error, and we couldn't retrieve any more details

[2020-10-28 07:07] #120 closed

[2020-10-29 11:56] #115 closed

[2020-10-30 09:54] #84 closed

[2020-11-16 09:55] vseager commented on #114
@snowremi We have a project coming that you benefit from this functionality, do you know an ETA to review the above PR?

[2020-11-16 10:28] Igloczek commented on #114
We are on it, expect some updates this week.

[2020-11-20 08:39] andrzejborkowski commented on #95
@tomkingfisher the issue has been resolved in the latest [2.13.0 release](https://github.com/SnowdogApps/magento2-menu/releases/tag/2.13.0)

[2020-11-20 08:39] #95 closed

[2020-11-20 08:54] andrzejborkowski commented on #69
@juho-jaakkola here is the link with updated [README](https://github.com/SnowdogApps/magento2-menu/blob/2.13.0/README.md) file

[2020-11-20 08:54] #69 closed

[2020-11-20 08:58] andrzejborkowski commented on #85
the feature has been released within [2.13.0 tag](https://github.com/SnowdogApps/magento2-menu/tree/2.13.0)

[2020-11-20 08:58] #85 closed

[2020-11-24 10:43] thomas-kl1 opened #148 "Wrong composer declaration"
The module is no more compatible with Magento <2.3. Please edit the composer version dependencies according to the code changes.

[2020-11-24 14:15] Igloczek commented on #148
Hi, thanks for reporting this issue. Could you provide more details about your problems, point out which part of the code is not working or what kind of issues you are facing?

[2020-11-24 14:49] thomas-kl1 commented on #148
https://github.com/SnowdogApps/magento2-menu/blob/master/Controller/Adminhtml/Menu/MassDelete.php implements HttpPostActionInterface which is available on Magento 2.3

[2020-11-24 14:53] Igloczek commented on #148
Thanks, we will check this out.

[2020-11-26 11:32] andrzejborkowski commented on #148
I've created an internal task for that DEV-73418, will take a look at this soon

[2020-12-01 21:47] KamilBalwierz commented on #148
Version 2.13.0 has been republished with support for older version removed - hope this solves Your issue (2.13.0 should no longer be suggested for Magento 2.2 and older)

[2020-12-01 21:47] #148 closed

[2020-12-24 10:40] vmalyk opened #151 "Enabled Checkbox warning regarding Invalid prop type"
Pre-condition:
Snowdog module version: 2.13.0

On check/uncheck checkbox We got warning regarding prop type for checkbox:
<img width="952" alt="Снимок экрана 2020-12-24 в 13 36 40" src="https://user-images.githubusercontent.com/5318027/103083305-1eb9f080-45ed-11eb-85c8-a80f85c6f55e.png">

Issue related with checkboxValue watcher and check returns Boolean instead declared Sting or Number.

[2020-12-24 10:48] vmalyk opened #152 "Node type "Category Child" - impossible to set Category."
**Pre-condition**:
Magento version: 2.4.1
Snowdog module version: 2.13.0

**Current behavior**
For "Category Child" no category selector:
<img width="1068" alt="Снимок экрана 2020-12-24 в 13 42 27" src="https://user-images.githubusercontent.com/5318027/103083724-2cbc4100-45ee-11eb-9ecb-54f3f5310230.png">

After research, This type wants to get content value for load children categories, but Data i

[2021-01-04 12:00] #151 closed

[2021-01-04 16:16] andrzejborkowski commented on #152
hey @vmalyk ! thanks for reporting and fixing the issue, we'll review your changes soon

[2021-01-13 22:07] digiltd opened #155 "Folder structure when using custom templates"
What is the correct format/structure to use when adding custom templates as mentioned in #84

I have tried:

`Theme_Folder/Snowdog_Menu/templates/menu_identifier/menu/custom/wrapper-with-title.phtml`
`Theme_Folder/Snowdog_Menu/templates/menu_identifier/menu/custom/wrapper.phtml`
`Theme_Folder/Snowdog_Menu/templates/menu_identifier/custom/wrapper.phtml`
`Theme_Folder/Snowdog_Menu/templates/menu_ide

[2021-01-14 10:23] vseager commented on #114
@Igloczek Did you manage to look at this PR?

[2021-01-14 10:30] Igloczek commented on #114
As you can see in the #140 the work is going on.

[2021-01-14 10:35] Igloczek commented on #155
`Theme_Folder/Snowdog_Menu/templates/{menu_identifier}/menu/{node_type}/{file_to_overwrite}`

There is no `custom` directory anywhere in the path.

[2021-01-14 10:42] Igloczek commented on #155
Sorry, I think you were referring to the default overwrite system, not overwrites per submenu. I'll investigate how it works and get back to you.

[2021-01-14 15:32] digiltd commented on #155
Cheers. I found the `custom` dir references in the mr https://github.com/SnowdogApps/magento2-menu/commit/4d6d017ef38190eb3cadec056fbcc51a456f10fb#diff-549b0f433f4e394340b2b0437391aa6151ad7c66da86b3eed87c03a691abf80eR26

[2021-01-22 13:57] #82 closed

[2021-01-28 13:27] davidwindell commented on #152
Great job @vmalyk :+1:

[2021-02-03 07:46] georged89oak3 opened #158 "method return annotation should be changed from array to mixed, it breaks swagger"
https://github.com/SnowdogApps/magento2-menu/blob/4c3b2205d2a4b20149903bb47c612884465baa31/Api/Data/NodeInterface.php#L224

[2021-02-03 07:59] andrzejborkowski commented on #158
thank you for reporting, I created internal ticket DEV-75295 to check that and will update you soon

[2021-02-09 12:52] andrzejborkowski commented on #152
This is already in develop, closing the issue

[2021-02-09 12:52] #152 closed

[2021-02-10 11:12] richjones87 opened #159 "New menu type"
I've been looking to add a new menu type, Can this be done from a different namespace as the doc/readme looks like I have to add it in the snowdog namespace? I am composer installing and then extending the module to attempt this.

Thanks for any help

[2021-02-11 08:06] #159 closed

[2021-02-11 13:36] #155 closed

[2021-02-22 13:00] akai-z commented on #155
@digiltd The menu nodes custom templates documentation is now done.

[2021-02-22 13:09] akai-z commented on #82
@odeland The import/export feature is done.
If you have any questions about it, please let us know.

[2021-02-23 14:04] akai-z commented on #158
@georged89oak3 The is fix is now done and currently merged into `develop` branch. (It will be added to a new release later.)
If you have further questions, please let us know.

[2021-03-01 10:12] tiberiur opened #161 "[feature request] Any plans for GraphQL endpoints?"
Hello,

Snowdog_Menu is my go-to menu extension and I use it in almost every project.
Quick question: any plans for GraphQL endpoints?

Thanks for the great work so far!

[2021-03-01 12:55] #107 closed

[2021-03-05 16:59] vseager opened #162 "Category Child dropdown order"
This is a followup for issue #107 which has been closed.

The improvements to the category list are great and have made the dropdown much easier to navigate. Would it be possible to apply this same logic to the "Cateogry Child" node type too?

Here is the much improved category list for the "Category" node type:

![screenshot-tempcon2 staging edge-servers com-2021 03 05-16_53_48 (1)](https://user-

[2021-03-08 10:22] andrzejborkowski commented on #161
hi @tiberiur! Thanks for your feedback, glad to hear you like our module! As for your request, we didn't work on this direction yet, but I created internal ticket DEV-76409 and let you know after we did some research

[2021-03-08 10:46] andrzejborkowski commented on #162
Hi @vseager, thanks for reporting the issue. I created internal task for that DEV-76417 and we'll start working on it soon

[2021-03-08 11:21] #158 closed

[2021-03-11 15:59] web5exposure opened #163 "Unable to unfold menu on mobile"
Magento: 2.4.2
Theme: Porto theme with custom child theme
Newest version of this module
PHP 7.4

I'm unable to unfold a submenu. When I click the arrow, it opens the link of the parent menu item instead of opening the submenu.

![image](https://user-images.githubusercontent.com/73223105/110815066-60704400-828a-11eb-9f70-d6b3ee268074.png)

I guess the `:after` should be replaced with a span element

[2021-03-11 16:02] Igloczek commented on #163
This module does not provide ready to use user interface, you should report this issues to your theme authors.

[2021-03-11 16:02] #163 closed

[2021-03-30 08:53] #114 closed

[2021-04-08 09:57] bacondeveloper opened #169 "Configurable Product Node Shows £0 Price"
https://github.com/SnowdogApps/magento2-menu/blob/7145aacaf46d16bf19607323c3e23c5952860017/Model/ResourceModel/NodeType/Product.php#L65

We've recently setup configurable products on our websites, and I noticed that the product node price returns 0, this is because configurable products don't have a price, only a link to the simple products that contain the price.

To fix this instead of "final_pr

[2021-04-08 12:38] Igloczek commented on #169
Hi @bacondeveloper thanks for reporting this issue. Did you test how the `min_price` behaves on non-configurable products, is it safe to use in other scenarios?

[2021-04-08 12:42] bacondeveloper commented on #169
From what I've tested locally, Simple Product behaves as expected with `min_price`. There are other scenarios I have not tested however, such as Special Prices.

[2021-04-08 12:53] bacondeveloper commented on #169
Actually I have just tested Special Price and that works as expected too.

[2021-04-08 13:12] Igloczek commented on #169
Nice, are you going to prepare PR with that change?

[2021-04-08 15:14] bacondeveloper commented on #169
Sure, is there a procedure for that? Branch Name, Merge to Develop?

[2021-04-09 14:02] andrzejborkowski commented on #169
I created internal ticket DEV-77605 to review PR

[2021-04-14 07:03] #169 closed

[2021-04-14 10:14] #161 closed

[2021-04-14 10:39] akai-z commented on #161
@tiberiur The GraphQL feature is done.
(It's currently merged into `develop` branch, and will later be published in a new release.)
If you have any questions about it, please let us know.

[2021-05-30 20:42] jg-development commented on #75
+1

[2021-05-30 20:45] jg-development opened #183 "Exporting and Importing Menu results in error"
I exported my menu and was trying to import it again with the created yaml file.
I get the following error:
The following menu required import fields are missing: "css_class".

The content of the exported yaml file
[code]

The export file should be importable without modification

[2021-05-31 05:10] andrzejborkowski commented on #183
Hey, I created an internal ticket to check that (DEV-79104), we will start working on this issue soon

[2021-05-31 12:21] digiltd commented on #75
@jg-development this already works, add the "category child" node as the child of a regular category node (note: I don't think this is a requirement, but should help you get your head around it)

[2021-05-31 12:34] jg-development commented on #75
ahh thx .. will try

[2021-06-02 19:12] #183 closed

[2021-06-02 19:16] akai-z commented on #183
@jg-development The menu `css_class` field import required fields validation fix is done.
(It's currently merged into `develop` branch, and will be later included in a new release.)
If you have any questions about it, please let us know.

[2021-06-02 21:31] jg-development commented on #183
@akai-z : thx ... this will work for me

[2021-06-21 08:11] digiltd opened #189 "custom templates for node types not showing in admin"
Where there used to be  a dropdown to pick a custom node type template

e.g.
`app/design/frontend/Vendor/default/Snowdog_Menu/templates/mobile_menu/menu/custom/wrapper/with-title.phtml`

Now there is a combo box but it isn't showing any results.

http://screens-and-things.s3-website-eu-west-1.amazonaws.com/screencast_2021-06-21_09-04-09.mp4

[code]

[2021-06-21 08:28] Igloczek commented on #189
Thanks for reporting, we will take a look on this soon.

[2021-06-21 08:36] andrzejborkowski commented on #189
I created an internal ticket for that case #79677, we'll start working on it soon

[2021-06-21 22:03] anqaka commented on #189
@digiltd Issue fixed on feature branch. I've checked also a sub_menu custom template and it works now properly too.

[2021-06-23 08:10] #189 closed

[2021-07-05 06:53] template-provider commented on #75
for me it works

[2021-07-08 07:49] template-provider opened #192 "Removing duplicate image removes image for all nodes"
I have a node (custom url) and upload an image 123.jpg.
I add a second node (category) and upload the same image 123.jpg (same level as before)

I remove the image from the custom url node.

Result:
The image is removed from the server, but it is still linked in the second node.

[2021-07-08 14:27] vseager opened #193 "CRITICAL - Sub-menu items get deleted on save"
**Note**: this issue is only reproducible in "dev-develop" but I wanted to raise it just in case it makes it's way into the next release.

When saving a menu, all sub-nodes are deleted except from those nested within the first node.

To reproduce:

* Create a new menu
* Add multiple nodes
* Add nodes within the nodes
* Press "Save"

**Before saving:**
![screenshot-hardcloud2 staging edge-servers c

[2021-07-08 15:16] andrzejborkowski commented on #193
@vseager thanks a lot for reporting the issue, we'll check it asap within our internal ticket (80360) and fix in the develop branch, the next 2.16.0 release won't include the issue

[2021-07-08 15:24] andrzejborkowski commented on #192
@template-provider Hi, could you please provide more details since I can't replicate the issue? What is the expected result? What do you mean under "it is still linked in the second node"?

[2021-07-08 16:02] Igloczek commented on #192
@andrzejborkowski I think we can send it to our devs, we just assumed that every image is in use just once, so if you remove it from one node, it's gone from the disc, but other nodes still keep referencing it.

[2021-07-09 06:39] template-provider commented on #192
@Igloczek exaclty ... thx for clearing it up

[2021-07-09 07:05] template-provider opened #195 "mobile menu opens main category on click"
hi,
I am using the redchamps extension for luma support. I know this may not be the exact location for getting support but since the redchamps extension is linked here, I am asking for help.
The main problem is described already in https://github.com/redchamps/snowdog-menu-luma-support/issues/1

I have a menu structure like:
- main
  - category 1
    - category 2

On mobile the click on category 1

[2021-07-09 13:36] andrzejborkowski commented on #192
thanks, I created internal ticket DEV-80414, we'll start working on it soon

[2021-07-09 14:15] Igloczek commented on #195
Sorry, but this module does not provide any frontend logic, only plain templates, so you need to debug in on your own or wait for feedback from people that are working with Luma theme.

[2021-07-09 14:15] #195 closed

[2021-07-09 20:01] akai-z commented on #192
Actually, the way node images upload feature was implemented was by making each node have its own unique image.
So if we add image `123.jpg` to one node, and then add the same image to another node,
then the image name for the other node will be `123_1.jpg` (and then `123_2.jpg` and so on).
This was done using the node image file upload auto rename feature, which its implementation can be found [h

[2021-07-19 06:58] andy1786 commented on #75
for me works, only the ordering with drag and drop is not working

[2021-07-19 19:04] #193 closed

[2021-07-19 19:10] akai-z commented on #193
@vseager The fix is now merged into develop branch.
If you have any questions about it, please let us know.

[2021-07-21 08:32] jeroenalewijns opened #197 "loadMenu doesn't fallback on all storeviews"
When selected all storeviews the LoadMenu function doesn't fallback so you have to use a storeID >=1

[2021-07-21 13:06] andrzejborkowski commented on #197
@jeroenalewijns hi, could you please explain more? What is the expected result when Store View = All Store Views set for menu?

[2021-07-21 13:10] andrzejborkowski commented on #75
Import categories and subcategories as menu nodes was released recently in [2.16.0](https://github.com/SnowdogApps/magento2-menu/releases/tag/2.16.0)

[2021-07-21 13:10] #75 closed

[2021-07-28 08:09] vestman commented on #197
I just noticed the same issue (`snowdog/module-menu:2.15.0`). If the `All Store Views` option in the `Store View` field is selected then the menu will not be loaded.
![image](https://user-images.githubusercontent.com/564243/127287050-1b00549e-d17c-4d7d-8432-fdf9479503ae.png)

But if I select each store view separately the menu will be loaded.
![image](https://user-images.githubusercontent.com/5642

[2021-07-28 10:39] andrzejborkowski commented on #197
@vestman thanks, now it's clear for m2. I created an internal ticket DEV-80999, we'll try to get it fixed as soon as possible

[2021-08-02 19:38] helloeverything opened #201 "Menu item position reverts to zero on save"
I think there is a bug, after updating to 2.16.0 the menu item position is no longer saved. When I downgraded to 2.15 the problem went away.

### To reproduce
1. Drag menu items to a new order
2. Press save
3. Item order is now random instead of by position
4. Check DB and I see that all the positions (in the snowmenu_node table) are all set at 0

### Tested on
Module version: 2.16.0
Magento: 2.4.

[2021-08-03 06:54] andrzejborkowski commented on #201
Thank you for reporting the issue! I created an internal ticket (DEV-81257), we'll fix this bug as soon as possible

[2021-08-06 07:07] andrzejborkowski commented on #192
@template-provider after some of our internal discussions we decided to leave current functionality as is - each menu node should have its own unique image file (details provided in the previous comment). Anyway, thanks a lot for your suggestion!

[2021-08-06 07:07] #192 closed

[2021-08-07 11:17] onlinebizsoft opened #204 "translation and node per store view"
I think the module is lacking neccessary feature to support multiple store views

Related to this ticket https://github.com/SnowdogApps/magento2-menu/issues/63

Lets break down some user cases
- if you have multiple lanugages you will want to have different translation for each language especially for custom menu node type
- when you sell on multiple countries, you may have certain different menu

[2021-08-07 11:25] Igloczek commented on #204
You can have multiple menus, and set it for different store views, that's why there is no translation mechanism, nor other options to set visibility for each node separetly.

[2021-08-07 16:49] onlinebizsoft commented on #204
@Igloczek I understand that but it is not good enough for example
- You would be happy to see 1 menu tree only instead of 100 different menu for 100 languages
- when we delete one menu node, we want to do it one time instead of repeating 100 times
- using different menu for each store will make many inconveniences with template implementation

[2021-08-07 16:53] onlinebizsoft commented on #204
But it doesnt work when we want to use with some custom URL link type for example, each language may have different url translation, not just the title.

[2021-08-07 17:00] Igloczek commented on #204
Unfortunalety it's out of scope of our interst, and most likely it will add lots of complexity for the backend and the UI/UX. But if you would like to work on this, we are always open for contributions.

For now I'm closing this thread.

[2021-08-07 17:00] #204 closed

[2021-08-08 03:10] onlinebizsoft commented on #204
@Igloczek since it is a valid issue and really need for every mutilple stores installation. So can you add a "feature request" label and leave it open for everyone to discuss?
I have the customization for this already however it comes with some other customization and need to be cleaned up.
I will try to submit a PR for this when we find time.

[2021-08-08 11:44] template-provider opened #205 "Category Child Link on mobile results in undefined"
see #65

I click on the mobile menu a link like "/desinfektion/flachen-instrumentedesinfektion/vliestuch", but it opens the url /undefined.
I cannot find the code, where the link for mobile is generated/followed.
The href in the link itself is correct, but it does not work

[2021-08-08 11:45] template-provider commented on #65
@mageprashant : did you find the problem? I am having the same difficulties?

[2021-08-08 11:57] Igloczek commented on #204
Sorry but we have diffrent point of view, we shipped dosen of multistore shops and don't have a feeling that such feature is needed. Also, mentioned before issue didn't get much traction, which means it's not something people from community are requesting a lot.

We keep as open only issues we are going to hande on our own or have interest in being solved.

[2021-08-08 12:36] template-provider commented on #205
ok found the problem .... magento 2 standard use in the menu.js this code
[code]
the closest li item (and link) with the class "ui-menu-item" is executed.

Just add the class to the div in the category_child.phtml.

I know, that this is not a bug of snowdog, but with the integration of magento 2 this should be documentated.

[2021-08-08 12:36] #205 closed

[2021-08-12 14:04] vseager opened #206 "Export doesn't contain all child nodes"
When exporting a menu, not all child nodes are included.

## Steps to reproduce

1. Create a new menu
2. Add several nodes
3. Add child nodes to some nodes
4. Save
5. Export menu from menu grid

This example export was exported from the menu in the screenshot below (.yaml remained to .txt for GitHub upload):
[menu-15.txt](https://github.com/SnowdogApps/magento2-menu/files/6975996/menu-15.txt)

![s

[2021-08-13 17:20] helloeverything opened #207 "Custom links opening in new window should use single underscore (_blank) instead of double (__blank)"
https://github.com/SnowdogApps/magento2-menu/blob/f155c43035e72e4c3a8a598a5a2e08c722930da4/view/frontend/templates/menu/node_type/custom_url.phtml#L20

[2021-08-16 07:10] #207 closed

[2021-08-16 07:11] Igloczek commented on #207
Thanks for sporting it out, fix will be released with the next version.

[2021-08-19 08:07] template-provider commented on #205
@andrzejborkowski
Is it possible to add a docu entry for this?

[2021-08-19 08:09] Igloczek commented on #205
This module does not provide ready to use UI for storefront, so we are not going to add any single theme specific documentation.

[2021-08-31 15:25] Igloczek opened #208 "Don't print messages about custom nodes templates if they are not set"
We shouldn't print messages marked on the screenshot, because it can be confusing, since that's an advanced feature.

If there is no custom templates set, just show a disabled select with value "Default" and we are good to go.

![image](https://user-images.githubusercontent.com/5119280/131530481-a3589f2d-9321-4ac6-bf21-b878602fc44c.png)

[2021-09-01 13:01] #201 closed

[2021-09-01 13:05] akai-z commented on #201
@helloeverything The fix is now merged into `develop` branch, and will be later included in a new release.
If you have any questions about it, please let us know.

[2021-09-03 07:44] vestman commented on #201
@akai-z Are you planning a release any time soon? The reason I'm asking is just becaus I'm thinking about patching the current release we have installed, but if it's a release planned then I might wait for it.

Cheers!

[2021-09-03 08:54] andrzejborkowski commented on #208
Thanks @Igloczek! moving it to DEV-82414

[2021-09-03 09:01] andrzejborkowski commented on #197
@vestman the issue has been resolved already https://github.com/SnowdogApps/magento2-menu/pull/199 and changes already in develop, we'll release them soon as well

[2021-09-03 09:01] #197 closed

[2021-09-03 09:09] andrzejborkowski commented on #206
@vseager thank you for reporting the issue, we'll check it soon within an internal ticket DEV-82416

[2021-09-03 09:43] akai-z commented on #201
@vestman The fix is now published under version [2.17.0](https://github.com/SnowdogApps/magento2-menu/compare/2.16.0...2.17.0).

[2021-09-03 10:05] vestman commented on #201
That was quick, I appreciate it!

[2021-09-07 15:53] vmalyk opened #209 "GraphQL: Adjustments, fixes."
Hey!

On overview GraphQL schema I see some missed things and it should be improved and fixed:
1.  type SnowdogMenuNode - implemented all menu types, but it contains some specific fields for current type (like target - it's manageble for External Link only) or schema doesn't specify related content - Cms Block, Category, Product, Cms Page, etc. **Suggestion** - Implement Interface and add types fo

[2021-09-08 05:51] andrzejborkowski commented on #209
thank you for reporting the issue, I created an internal ticket DEV-82522 and we'll review it soon

[2021-09-10 11:36] Echron opened #211 "Crash when category_child has no valid category"
When a node of type category_child has no valid category, the exception that there is no such an entity will make the category crash (disappear). I've created a merge request to improve handling of invalid categories:
#210

[2021-09-10 11:50] andrzejborkowski commented on #211
Thanks for reporting the issue and your PR, we'll review it soon within our internal ticket DEV-82621

[2021-09-20 12:24] MagePsycho opened #213 "Default Mega Menu for Luma Theme"
Does this module provide a mega menu for the Luma theme?

[2021-09-20 12:26] Igloczek commented on #213
@MagePsycho plase check the readme, there is a link to module that adds such compatibility.

[2021-09-20 12:50] MagePsycho commented on #213
Gotcha!

[2021-09-20 12:50] #213 closed

[2021-09-20 14:32] akai-z commented on #206
@vseager We were not able to reproduce the issue. (Even with long nested nodes trees and with different node types.)

Could you send us a DB/SQL dump of your menu module DB tables in order to test with their data?
The DB tables' names are `snowmenu_menu`, `snowmenu_node` and `snowmenu_store`.

[2021-09-22 14:23] henkvalk opened #214 "Add Menu to Hyva theme"
I installed the Menu and want to add it to Hyva theme.

So I insert the block to my `app/design/frontend/vendor/theme/Magento_Theme/layout/default.xml`

[code]

inside the  `Magento_Theme/templates/html/header.phtml`  I added:
[code]

But the menu were not display.. Is there something changed?

[2021-09-24 09:30] FFinke-leo opened #215 "Node Templates by multi store not available"
Hi there

I have a Magento Multi-Store Shop and use your Snowdog Menu Extension.
My Problem is, I haven't all templates for the node (for example Wrapper) in all themes and the Backend says that there are no node templates.
If I select the default theme and assign the theme with the templates to this all node templates are available.
Is it possible to change the code so, that you are watching the

[2021-09-27 08:11] oneserv-heuser opened #216 "Duplicated object key declaration in app.vue"
Hi!

Was wandering through the source code and found a duplicated object key declaration. Nothing wild, but can be safely removed I guess.

``'node_template': null`` is duplicated in lines 122 and 125.

https://github.com/SnowdogApps/magento2-menu/blob/e953c9800dbe92200bf46d71a0885463489d29f5/view/adminhtml/web/vue/app.vue#L116-L129

[2021-09-27 08:18] #216 closed

[2021-09-27 11:43] MarianNapi opened #218 "After deleting all children of a node you can not add a new child"
Let's say you have this structure:

Root
- A
- - A1
- - A2
- B
- - B1
- - B2

If you now delete Children A1 and A2 and try to add a new Child to A you get a vue error:

`Error in v-on handler: "TypeError: Cannot read properties of undefined (reading 'image')"`

If you now add a Child To B there is no error if you try to add a Child to A again.

This also happens if you only have a root node and de

[2021-09-27 14:38] andrzejborkowski commented on #214
Sorry, but this module doesn't provide ready to use interface, I think you should report this issue to the theme vendor.

[2021-09-27 16:12] andrzejborkowski commented on #218
@MarianNapi I can't replicate the issue with the latest 2.17.0 tag. What node types did you use for parent/child nodes?

[2021-09-27 18:46] Igloczek commented on #214
Let's keep this open, I'd like to be sure it works fine. @henkvalk I'll reach you next week, I'm on vacation right now.

[2021-09-28 00:08] henkvalk commented on #214
Thanks. I saw some other users of Hyva struggling the same issue

[2021-09-28 07:22] oneserv-heuser commented on #218
@andrzejborkowski I can also confirm this issue.
Here are the steps to reproduce with images:
1. **Click on "Create new menu"**
2. **Click on the "+" symbol (marked with red circle)**
![image](https://user-images.githubusercontent.com/53174153/135041422-2fb34c27-7aaf-451c-b092-6d6ae235ec21.png)
3. **Delete the newly created node**
![image](https://user-images.githubusercontent.com/53174153/1350415

[2021-09-28 11:00] t-velichko commented on #206
I'm experiencing the same issue. I've created a category with several wrappers and each of the wrapper has category in it. When I'm exporting it there are no children categories in *.yaml file.

[2021-09-28 21:07] andrzejborkowski commented on #218
Thanks for confirming the steps on how to replicate the issue, now I can see the error in console. However when clicking on "+" once again to add a new node it works as expected and you can save the menu. Anyway, I created an internal ticket DEV-83022 and we'll check the issue with our dev team.

[2021-10-04 08:37] Igloczek commented on #215
Do you have problem with actual rendering of the templates on the frontend, or just assuming something is wrong, because in admin area you see that it print a message about no templates to pick? If the second option, it's just an confusing message that we are about to remove - https://github.com/SnowdogApps/magento2-menu/issues/208

[2021-10-04 08:47] Igloczek commented on #215
An option to pick a custom template from any theme in any menu, enough for you? Otherwise, we will have to bind the menu to the theme, which is not something we would like to do.

[2021-10-13 08:18] piontuso opened #220 "GraphQL: Cannot get menu for specific store view"
Hello!
I'm using module in version 2.17.0 and I cannot get menu created for e.g. "All store views" via graphQL. Please improve module and add new argument to specify store_id in Query (now it is taken from context - in my case = 1 but menu is created for store view = 0). Thanks!

[code]

[code]

[2021-10-14 16:36] Igloczek commented on #214
@henkvalk did you check the compat module that Vinai created?

https://gitlab.hyva.io/hyva-themes/hyva-compat/magento2-snowdog-menu

[2021-10-14 16:58] henkvalk commented on #214
@Igloczek Thanks for sharing. I will take a look at it !

[2021-10-28 06:10] skanungo1 opened #224 "Nodes not showing while editing menu with store specific admin user"
Hi All,

I faced an issue related to the menu node on the admin panel. The issue arrived when I access the edit menu option with the login of the user who has a store-specific admin role assigned. He/She is not able to see the node option/section on the edit menu page. Please look into this issue and suggest a solution for these. In the below screenshot you can see that nodes are not shown and oth

[2021-11-02 13:53] Igloczek commented on #224
Thanks for the details, I just send this to one of our backend developers to investigate, will get to you soon.

Internal ticket - DEV-84091

[2021-11-04 13:22] andrzejborkowski commented on #211
Closing the issue since we didn't get any feedback on PR [#210](https://github.com/SnowdogApps/magento2-menu/pull/210)

[2021-11-04 13:23] #211 closed

[2021-11-04 14:30] #208 closed

[2021-11-04 20:44] #209 closed

[2021-11-04 20:44] #220 closed

[2021-11-04 21:01] akai-z commented on #209
@vmalyk
The suggested GraphQL adjustments have been merged into develop branch and will soon be included in a new release.

There were also some additional adjustments other than the suggested ones:
- Added `node_template` and `submenu_template` fields to GraphQL menu node type.
- Added store ID filtering support to menu repository `getList` method.
- Added all menu items list support to GraphQL `

[2021-11-05 14:39] #206 closed

[2021-11-28 22:42] akai-z commented on #224
@skanungo1 We tried to replicate the issue with different role scopes and store views configurations,
but the nodes list loaded just fine.

Can you send us more detailed steps to follow and replicate the issue?
Can you also check your Magento log to see if it reports any issues when it tries to render to nodes list?

[2021-11-29 12:23] Igloczek commented on #224
@akai-z did you tried that with more than one store? With just one, it indeed works fine.

[2021-12-06 09:07] andrzejborkowski commented on #218
This issue has been fixed already in the latest 2.18.0 release, so I'm closing the ticket

[2021-12-06 09:07] #218 closed

[2021-12-06 09:09] andrzejborkowski commented on #215
@FFinke-leo could you please provide feedback for the question above? Otherwise, we'll need to close the ticket due to the lack of activity. Thanks!

[2021-12-10 12:58] LucasCalazans opened #225 "GraphQL - Missing URL information for the Categories nodes"
Sup guys,

I'm using this module for a PWA Studio project so that I'm also using the GraphQL APIs.

I created the logic to fetch the data, but we don't have a field that returns the url_key of the category.

My suggestion is to add a new field called **url_key** inside the node interface related to categories and Childs

[2021-12-13 22:03] vseager opened #226 "Can't create menu in single store mode"
If Magento's "Single Store Mode" is enabled, you cannot create a new menu in the admin:

[code]

[2021-12-15 22:30] akai-z commented on #224
@Igloczek Yeah, I tested with multiple store views and websites inside a single Magento instance.

[2021-12-16 06:37] andrzejborkowski commented on #226
I can't replicate the issue on m2.4.2 and menu module 2.18.0 with single store mode enabled. Could you please provide more details about how to replicate the issue?

[2021-12-16 06:40] andrzejborkowski commented on #225
Could you please create a PR with the mentioned changes and after we check it we can merge your changes to develop?

[2021-12-17 12:36] texboy commented on #225
Hey @andrzejborkowski, I created a pull request for this feature (I work with @LucasCalazans). It's not the best solution, but I didn't have time to really look into the module and see if there was an easier/more elegant way to do it. Hope this works for you. If not, let me know how I can improve the code.

[2021-12-17 13:21] andrzejborkowski commented on #225
thanks a lot for your contribution! I created an internal ticket DEV-85572 and our dev team will review your PR soon.

[2022-01-07 10:43] gjportegies opened #228 "Duplicate keys detected"
Magento: 2.4.3
Snowdog Menu: 2.18.0

This is quite an edge case but I ran into the following issue:

<img width="941" alt="Schermafbeelding 2022-01-07 om 11 16 05" src="https://user-images.githubusercontent.com/6707410/148530884-f0c445be-a3dc-45f0-9775-bee91a1a24e9.png">

My console log is full with these messages and the autocomplete dropdown gets stuck. The shop we're running is a migrated from

[2022-01-11 14:19] mohanwbsofttech opened #230 "Mobile menu sub category link goes to undefined"
I am using Ibnab_MegaMenu module. Everything is working fine on desktop. But in mobile when I am clicking on category link it showing me undefined . This is my website link https://www.ruralcam.com/

[2022-01-11 14:21] Igloczek commented on #230
Thanks for reaching out, but [this module does not provide any ready to use UI](https://github.com/SnowdogApps/magento2-menu#this-module-doesnt-provide-ready-to-use-ui), so we are unable to support you.

[2022-01-12 15:26] andrzejborkowski commented on #225
@texboy hey, could you please follow suggestions from our dev and apply changes requested in your [PR](https://github.com/SnowdogApps/magento2-menu/pull/227#discussion_r777859747)? Thanks in advance!

[2022-01-13 15:51] andrzejborkowski commented on #224
@skanungo1 could you please provide us with more detailed steps on how to replicate the issue?

[2022-01-21 15:00] norgeindian opened #231 "Unable to resolve the source file for 'adminhtml/Magento/backend/en_GB/menuNodes.js' [] []"
When using another language than `en_US`, the node section loads forever and displays nothing:
![Screenshot from 2022-01-21 15-56-36](https://user-images.githubusercontent.com/11156287/150549239-76591d36-9410-47b6-842a-bb881c5d8f1f.png)

[2022-01-21 15:07] norgeindian opened #232 "Editing a new node takes 4-5 minutes to open for big catalog"
In our shop we have about 30 k categories, 90 k products and 2 k CMS pages.
When I try to create a new menu node in the backend and want to open the node using the pencil, it takes about 4-5 minutes to open the node view, where I can actually enter details and choose the node type.
I assume, that this might be related to the preloading of all existent data.
Is there some workaround here, as the mo

[2022-01-21 16:26] andrzejborkowski commented on #231
Thank you for reporting the issue! I've created an internal ticket DEV-86517, our dev team will check it soon and let you know

[2022-01-21 16:33] andrzejborkowski commented on #232
thanks for reporting the issue, I created a ticket for our dev team DEV-86518, we'll check it soon and let you know then

[2022-01-21 22:16] gjportegies commented on #228
Hi @andrzejborkowski I’ve already submitted a PR https://github.com/SnowdogApps/magento2-menu/pull/229

[2022-01-27 11:33] andrzejborkowski commented on #224
closing the issue since we can't replicate it

[2022-01-27 11:34] #224 closed

[2022-01-28 09:14] norgeindian commented on #232
@andrzejborkowski , thanks for the fast reply. Could you already give me a short update regarding this issue?

[2022-01-28 09:14] norgeindian commented on #231
@andrzejborkowski , thanks for the fast reply. Could you already give me a short update regarding this issue?

[2022-01-28 09:24] andrzejborkowski commented on #231
@norgeindian it's on our dev's list but we didn't check it yet, I'll let you know once we check/fix it and when changes will be released, but it can take some time

[2022-01-28 09:25] andrzejborkowski commented on #232
@norgeindian  it's on our dev's list but we didn't check it yet, I'll let you know once we check/fix it and when changes will be released, but it can take some time

[2022-02-01 09:14] andrzejborkowski commented on #226
I created an internal ticket DEV-86709 to check the issue deeper based on the provided information, however, I still can't replicate the issue

[2022-02-03 09:18] Bartdegroot opened #233 "Set the submenu and node templates based on the main template"
We are creating a few frontend menu templates (like simple, vertical and mega) so we can use these defaults in our projects based on the requirements of the customers. If we add a custom main menu in the default.xml like this:

[code]

the main template is set to `Snowdog_Menu::main/vertical/menu.phtml` (as it should be). However the templates for `sub_menu.phtml` and the node_types aren't changed

[2022-02-03 18:52] goranhorvathr commented on #226
Hey guys. The issue is there. We just encountered it with latest Snowdog menu on 2.4.3.p1 in production mode. I will investigate what actually happens too as we are making snowdog compat module for hyva.

[2022-02-04 13:07] vseager commented on #57
@Igloczek I have just published a nice lightweight module which seamlessly integrations Snowdog menu with Luma:

https://github.com/vseager/magento2-snowdog-menu-luma

It injects the nodes using core functionality so has no custom templates. As a result, it works faultlessly with Luma's core templates. Please take a look and if you think it will benefit the community then I would be more than happ

[2022-02-04 13:08] vseager commented on #195
@template-provider Please see https://github.com/vseager/magento2-snowdog-menu-luma

[2022-02-04 13:09] vseager commented on #213
@MagePsycho Also available for seamless Luma support https://github.com/vseager/magento2-snowdog-menu-luma

[2022-02-04 13:10] vseager commented on #24
@James-Moon-Audio An alternative for Luma https://github.com/vseager/magento2-snowdog-menu-luma

[2022-02-04 13:15] Igloczek commented on #24
@vseager can you say a word or two about your module? Is that a fork of the previous one from RedChamps with some updates or something completely new?

[2022-02-04 13:29] vseager commented on #24
@Igloczek No, this module is completely new and built from scratch. Unlike the RedChamps module which tried to replicate the template and classes of Luma, my module doesn't attempt to replicate any core templates and uses all core logic.

The only difference between my module and core Magento is that the core builds the menu nodes from the category structure. I am instead I am pulling out nodes fr

[2022-02-04 13:59] Igloczek commented on #24
Nice! I'll put your module on the list in the [README.md](https://github.com/SnowdogApps/magento2-menu/blob/develop/README.md)

[2022-02-09 12:57] Igloczek commented on #233
So, you would like to customize temples for a given menu ID, am I correct?

Did you check the docs already? https://github.com/SnowdogApps/magento2-menu/wiki/Overwriting-templates-per-menu-ID

[2022-02-14 12:52] Igloczek commented on #233
We will send this to our backend developers to check, but it won't be fast, since this is more a feature request, than a bug. @andrzejborkowski can you handle that? The goal is to check if it's possible to get child node templates relative to the `menu.phtml` file location, that is customizable via XML.

Meanwhile, if you can prepare such changes on your own, please submit a PR, we will be happy t

[2022-02-18 11:20] kiber commented on #233
@Bartdegroot changes are in **feature/87135** branch.
Now module allows setting **submenu** template via layout XML.
If you can, please also test it on your side and verify that it helps to solve your problem.

[code]

[2022-02-18 17:13] michalbiarda opened #236 "Import from Categories not updating Vue App"
Steps to reproduce:

1. Create new menu
2. Click "Import from Categories" button and confirm action
3. Wait for server to fetch the data

Result: Vue App is not updated with the results.
Expected result: Vue App is updated with the results.

[2022-02-23 12:42] andrzejborkowski commented on #231
@norgeindian hey, could you please provide your magento/menu module versions? Our dev checked with m2.4.3 and menu module 2.17.0 and we can't replicate the issue, so any additional details are appreciated. Thanks!

[2022-02-23 13:07] andrzejborkowski commented on #236
@michalbiarda thanks for the PR, we appreciate it! I created an internal ticket and our devs will review it soon.

[2022-02-24 13:48] Bartdegroot commented on #233
Thank you very much! This indeed solves the problem!

[2022-02-24 13:48] #233 closed

[2022-02-25 08:20] norgeindian commented on #231
@andrzejborkowski, I had this issue now several times, even for `en_US`. It seems as if the code is not properly generated when being in developer mode without additional manual actions. I often switch between branches which include the module and ones, which don't. Then this is always a problem. Could you maybe give a hint, which actions need to be done when being in developer mode to make it wor

[2022-02-25 08:23] norgeindian commented on #232
@andrzejborkowski , I now actually found a way in creating dummy classes for the node blocks which return more or less nothing in all function, but in `getJsonConfig`:

[code]
This is not pretty, but works at least, and now the process is a lot faster.
Would be awesome, if you could find a way, so that an admin can decide, which node types he needs

[2022-02-25 08:31] norgeindian opened #238 "Provide store filter for CMS pages and CMS blocks / possibility to filter manually"
We have a shop with a lot of different stores and CMS content.
This way, the dropdown for choosing a CMS block in a CMS block node gets really really big and it's almost impossible to find the wanted entity.
As the store is selected above, it would be awesome, if this list could be filtered by the given store automatically.
Alternatively, it would be great, if one could filter manually by the titl

[2022-03-01 06:57] #228 closed

[2022-03-01 06:58] jochhop commented on #228
This issue has been resolved in PR #229 , so I am closing it , thanks @gjportegies for opening and resolving the issue with your contribution

[2022-03-03 13:43] tobiasolge commented on #226
same issue here.

[2022-03-07 17:50] Pekkonen opened #240 "magento2 customer admin grid not loaded properly in Magento2.4.3p1"
I have a problem with Magento customer admin grid not loaded properly in Magento2.4.3p1. First row only loaded.
![Customers-Customers-Magento-Admin](https://user-images.githubusercontent.com/31384473/157088228-efe874d2-19b6-45b0-9639-88bf4d2d5fc2.jpg)
And I have error in console:
[code]
When I disable a module  - bin/magento module:enable Snowdog_Menu
I see correct grid.
Do you know about this pro

[2022-03-10 12:09] zaxkh opened #241 "Drag and drop when editing menu nodes causes duplication."
When editing the contents of a menu in the admin panel using the drag and drop feature with the structure of nodes Grandparent-Parent-Child, when the child node is moved up it causes the node above to become a duplicate instead of swapping places. The issue must be related to JS. I am unable to reproduce this issue if I move the nodes down instead of up.

Attached are some screen shots showing the

[2022-03-28 15:38] andrzejborkowski commented on #238
thanks for reporting the issue, but it appears that filtering already works as you described (filter by CMS block title) with the latest 2.18.0 module tag (see attached screen). Could you please check and confirm it works as expected?
![Screenshot 2022-03-28 at 17 33 03](https://user-images.githubusercontent.com/73829518/160434878-d7fcc40a-457b-482f-9796-688c86d1e9fe.png)

[2022-03-30 13:31] Pekkonen commented on #240
@andrzejborkowski
I've checked on another instance of Magento with fresh installation and for now everything looks like fine!
I think problem was inside my old instance of Magento 2.4.3-p1

[2022-03-30 14:06] andrzejborkowski commented on #240
thanks for update, closing the issue then

[2022-03-30 14:06] #240 closed

[2022-03-30 16:56] besim-trellis commented on #91
This issue seems to be happening on M2.4.3-p1 Cloud Commerce. Currently there are 3 stores, and selecting a CMS page which has same url as in another store, always chooses the last one.

[2022-03-31 12:41] norgeindian commented on #238
@andrzejborkowski , then the naming filter seems to be related to our data. I just saw in the dev tools, that we have the following error:  `Duplicate keys detected: '{"label":"XXX","store":["Deutsch"],"value":"YYY"}'. This may cause an update error.`
Might it be, that the filtering gets an issue as soon as the same value is twice inside the dropdown?
As the identifiers are only unique inside each

[2022-04-04 10:07] #241 closed

[2022-04-04 23:34] zaxkh commented on #241
Thanks Guys, created a patch with the changes, working well on all ENV's using the snowdog menu

[2022-04-07 06:09] andrzejborkowski commented on #231
we double-checked the issue you reported (in developer mode as well) and we still can't replicate it.
Could you please provide the steps and details about your environment (including magento and menu module versions) in order to replicate the issue? Thanks in advance!

[2022-04-07 06:25] andrzejborkowski commented on #238
I checked the issue with multistores and can't replicate the issue even with the same CMS block identifiers. As you can see on the attached screen, I can look for the needed CMS block without any problem. And I don't think that store filter is needed here as you can see store assigned for each CMS block in dropdown. Let me know if you have any more questions. Thanks!
![Screenshot 2022-04-07 at 08

[2022-04-07 06:33] norgeindian commented on #231
@andrzejborkowski , thanks for coming back to me here.
We're using `magento/product-community-edition` in version `2.4.3-p1` and the menu module in version `2.18.0`
In general, we have a docker setup where we run the instance, but that should be unrelated.
Like I said, it happened only when switching branches between a branch which had the module included and one which did not.
After each switch,

[2022-04-07 06:33] andrzejborkowski commented on #91
Unfortunately we don't have such an env you pointed out, but I checked the issue with m2.4.2 and menu module v2.18.0 and wasn't able to replicate the issue. Could you please try to update you module version to the latest one?
![Screenshot 2022-04-07 at 08 29 42](https://user-images.githubusercontent.com/73829518/162134693-dfd8aac4-d3bc-4f9a-b54f-744c1d644498.png)

[2022-04-07 06:40] norgeindian commented on #238
@andrzejborkowski , okay, then I really don't get, why it does not work in my case...
Just to be sure: In your case not only the names, but also the identifier were the same?

Like I wrote in the beginning, we have about 2000 CMS blocks and a similar amount of CMS pages.
With the non-working search, it's almost impossible to choose the correct entity. This would be easier, if a store filter would

[2022-04-07 06:52] andrzejborkowski commented on #226
the fix is already in develop branch and we will release the module soon

[2022-04-07 06:52] #226 closed

[2022-04-07 07:02] andrzejborkowski commented on #238
yes, I used the same identifiers for CMS pages/blocks (you can see it on the second screen in the previous note)

[2022-04-11 20:16] besim-trellis commented on #91
@andrzejborkowski It's happening with v2.18.0 too - the issue is with the selection, as we're able to see store information for each CMS page listed, but for pages with same url, the last page is always selected. Please check screen-recording below:

https://user-images.githubusercontent.com/56651164/162824214-61e4fae4-1c15-4320-80c9-516884ecac09.mp4

[2022-04-13 11:20] vasilii-b commented on #214
Was able to have a working menu with Hyva theme w/o any additional compatibility modules required.

[2022-04-13 11:55] #214 closed

[2022-04-13 12:12] andrzejborkowski commented on #91
ok, thanks for the recording, now I can re-create the issue. I created an internal ticket DEV-88914 and our devs will take a look at the issue soon

[2022-04-25 06:50] #232 closed

[2022-04-28 13:13] #236 closed

[2022-05-02 08:20] MagePsycho commented on #213
@vseager I am using your plugin and it works great in Magento `2.4.3-p2`

[2022-05-13 13:45] andrzejborkowski commented on #231
@norgeindian hey, below is feedback from our developer, please take a look and let me know if you have any further questions.

[2022-05-16 11:14] #238 closed

[2022-05-16 11:16] #215 closed

[2022-06-21 18:36] chaikivskyi opened #246 "Node type "Category Child" do not work"
### Steps to reproduce
1. Enable `Flat Catalog Category` option (Stores > Configuration > Catalog > Storefront > Flat Catalog Category)
2. Create menu with node type `Category Child`

### Expected result
Menu will show all children categories

### Actual result
No one child category is displayed

[2022-06-21 18:39] chaikivskyi opened #247 "Dublicate do not work correctly"
### How to reproduce
1. Create a menu
2. Add two nodes (or more)
3. Move the oldest node as a child of the newest
4. Click duplicate menu

### Expected result
All nodes of the menu will be duplicated

### Actual result
Child nodes were not created for nodes where the parent id is less than the id of child nodes

[2022-06-21 21:20] chaikivskyi commented on #247
https://github.com/SnowdogApps/magento2-menu/pull/248

[2022-06-22 18:15] chaikivskyi commented on #247
Yes, I replicated this issue on the latest version of the module. Can you move node 2 as the child of node 3 and try again?

[2022-06-23 15:15] aborkowskiy commented on #246
Since "Flat Catalog" is not recommended anymore for magento versions  ≥ 2.4 we wouldn't handle this request, sorry.

[2022-06-23 15:17] #246 closed

[2022-06-24 04:48] andrzejborkowski commented on #247
Thank you for provided steps, now I was able to reproduce the issue. I created an internal ticket DEV-90908, we'll check your PR soon

[2022-07-11 11:29] samk-ml commented on #115
Hi, I am having this issue at the moment, Is there any news on this 70191 being deployed to production?

[2022-07-11 14:11] andrzejborkowski commented on #115
@samk-ml yes, this issue has been resolved in menu versions starting from 2.13.0

[2022-07-26 06:55] jesperbrejning opened #249 "Base table or view not found: 1146 Table 'domain_dev.snowmenu_menu' doesn't exist, query was: SELECT COUNT(*) FROM `snowmenu_menu` AS `main_table`"
HI,

We are getting this error after we have uploaded the files to app/code/Snowdog/Menu and runs setup:upgrade

What can be the reason for the module to not create the database tables?

Best regards,
Jesper

SQLSTATE[42S02]: Base table or view not found: 1146 Table 'domain_dev.snowmenu_menu' doesn't exist, query was: SELECT COUNT(*) FROM `snowmenu_menu` AS `main_table`
Exception in /var/www/domai

[2022-07-27 08:26] adamwaclawczyk commented on #249
I think main reason is that module isn't installed using composer.
Please check your database for entries in `setup_module` table and delete the entry with Snowdog_Menu(this should allow the tables to be created during upgrade command). Example query:

[code]
and then please run
[code]

If these steps aren't enough we'll create an internal ticket for further investigation.
CC @andrzejborkowski

[2022-07-27 08:52] jesperbrejning commented on #249
Thank you for your reply.

You are absolutely right.

I have now installed the module with composer and it's working as expected
:-)

Thank you very much :-)

Jesper Brejning

On Wed, 27 Jul 2022 at 10:26, Adam Wacławczyk ***@***.***>
wrote:

--
Med venlig hilsen / Best Regards,

Jesper Brejning,
BabyGear.dk

*Babyudstyr, Børnetøj, Børnemøbler og Legetøj*

BabyGear.dk
Smedekærvej 33
DK-2770 Kastru

[2022-07-27 09:04] #249 closed

[2022-08-02 07:26] adamwaclawczyk commented on #91
#245 merged to develop

[2022-08-02 07:40] andrzejborkowski commented on #231
@norgeindian hey, any update on this? Can close this issue?

[2022-08-05 06:53] norgeindian commented on #231
@andrzejborkowski , actually, I could not reproduce it anymore. So yeah, let's close it. Thanks for asking.

[2022-08-05 06:53] #231 closed

[2022-09-02 14:30] Aquive opened #250 "SQLSTATE[42S22]: Column not found: 1054 Unknown column 'identifier' in 'snowmenu_menu'"
Hi,

I pulled package with composer, now I am running `bin/magento setup:upgrade`, I get the following error. This is first time installing it.

`SQLSTATE[42S22]: Column not found: 1054 Unknown column 'identifier' in 'snowmenu_menu'`

Magento version: 2.4.2
snowdog/module-menu version: 2.19.0

[2022-09-05 10:08] adamwaclawczyk commented on #250
I couldn't reproduce this on a fresh Magento 2.4.2 instance.

Please try the steps listed below:

1. Backup DB
2. Drop `snowmenu_node`, `snowmenu_node`, `snowmenu_store` tables
3. Delete entry from setup_module with `DELETE from setup_module WHERE module LIKE "Snowdog_Menu";`
4. Try running `bin/magento setup:upgrade` again

We're happy to help with any further problems 😃

[2022-09-09 11:49] Aquive commented on #250
@adamwaclawczyk this worked. Thanks for the support!

[2022-09-09 11:49] #250 closed

[2022-09-12 09:52] vahir2016 opened #251 "Deployment issue with compact strategy"
Hello,

I have got an issue with your module : it works on my dev environnement but when it came to integration, vue files are missing.

It's an issue that I have only with "compact" strategy deployment for statics files (it works with quick strategy).

`se:st:de -f --strategy compact`

Sadly, I don't have the choice to use compact strategy (infra guys doesn't allow to switch).

I don't know how t

[2022-09-13 13:28] andrzejborkowski commented on #251
Hi, we created an internal ticket DEV-93269, once our dev team checks it I'll let you know. Have a great day!

[2022-09-13 13:30] vahir2016 commented on #251
Ok thank you. I reproduced the issue on my dev environnement but I had to switch magento to production mode and deploy with compact strategy.

[2022-09-16 12:53] #225 closed

[2022-09-21 13:16] vahir2016 commented on #251
Hello Adam,

Thank you, I will try it as soon as possible, I solved my issue with a hard (uggly) fix in requirejs-config.js

[2022-09-26 12:30] andrzejborkowski commented on #251
hi @vahir2016 , I'm closing this issue, but please feel free to re-open it or add a new one in case of troubles. Have a great day!

[2022-09-26 12:30] #251 closed

[2022-09-28 09:52] adamwaclawczyk commented on #247
PR was merged, closing this issue

[2022-09-28 09:52] #247 closed

[2022-09-28 09:54] #91 closed

[2022-11-02 03:06] RakeshJesadiya opened #254 "How to show/hide category on menu with respect to Catalog Permission feature of Adobe commerce?"
I have just installed Snowdog Menu in one of my Adobe commerce sites.
Clients use the box Catalog Permission feature for their B2B site. Is there any feature to show/hide categories based on the customer group on the snowdog menu?

Currently, this feature is not working for the B2B site with the snowdog menu.

How to accomplish the snowdog menu with the Catalog permission feature based on the cust

[2022-11-08 09:26] mikesteeghs opened #255 "Menu not visible when category isn't found"
Set up the menu with a menu-item with Node Type **Category**, and choose an exsisting category. After saving, the menu (with category link) will be visible. Now remove the category that you've used in the menu. The complete menu has now disappeared.

Isn't it possible to still show the menu but not render the concerning menu-item?

[2022-11-08 10:35] andrzejborkowski commented on #255
hi @mikesteeghs
I was trying to replicate the issue following the steps you've provided and using magento 2.4.2 + menu module 2.20.0 but I see that after removing the category I've previously set in Category menu node, only Category path has been removed in node settings but not the whole menu (see attached screens). Could you please pull the latest menu module version and try again?
Regards,
Andr

[2022-11-08 10:41] andrzejborkowski commented on #254
Hi @RakeshJesadiya
we checked the issue with the dev team and think that we can add an optional field with multi selector type to allow admins to select multiple customer groups or leave it empty (so there's no customer groups restriction). I've created an internal ticket DEV-94738, but since it's a pretty complicated feature it could take us 2-4 months to implement, once it's ready we'll include

[2022-11-08 15:40] RakeshJesadiya commented on #254
@andrzejborkowski This is good feature request for the Magento B2B site, if we are using the snowdog menu with B2B site, snowdog menu will be useless because of the category restriction is not working with it.

[2022-11-16 10:06] Irinina opened #257 "Error during menu export"
When trying to export the menu, we get the message `An error occurred while exporting menu 1.`. Error logs show:
[code]
We are on Magento 2.4.5-p1, PHP 8.1. We suspect, that this might be caused by our menu entries containing umlauts (e.g. German ö), but just an idea.
![menu](https://user-images.githubusercontent.com/82020146/202151163-2fb7d422-4c2e-41a0-9e19-79962e66968b.png)

[2022-11-16 10:55] andrzejborkowski commented on #257
hi @Irinina
I was trying to replicate this issue/error on our stage using german special letters, but it works as expected with m2.4.4 and menu module 2.20.0 (see attached screen). Probably it's due to our module wasn't tested on m2.4.5-p1 yet so it's not compatible with this new magento version. However, I created an internal ticket DEV-95193 to check it with our dev team
![Screenshot 2022-11-16

[2022-11-18 12:54] andrzejborkowski commented on #257
Hi @Irinina , below is feedback from our dev, could you please check it and provide more details, please?

I was able to reproduce this issue by manually corrupting the `position` data in `snowmenu_node` table. Umlauts are parsed correctly on fresh 2.4.5-p1, php8.1 Magento env.

I think we can try resolving this with a sanity check first.

[code]
This query should return nodes with incorrect `posi

[2022-11-22 12:29] Irinina commented on #257
Hello @andrzejborkowski,
thank you very much for your fast answers and investigation.

What was done in Admin Panel > Content > Elements > Menus was to create the menu and then add some nodes, really nothing fancy or out of the normal.
But the query you gave me indeed returns one entry. As far as I see, in a submenu with three child nodes, the child nodes don't have positions 0,1,2 but 1,2,3. The